
<template>
  <section class="random-page-wrapper">
    <transition name="fade">
      <div v-if="content" class="load-wrapper">
        <div :style="{'background-image' : 'url(' + content.featured_image[getImageSize('max')] + ')'}" class="hero">
          <div class="content-wrapper">
            <h1 :class="($route.name.includes('page-post'))? 'h2' : 'h1'" v-html="content.post_title" />
          </div>
        </div>

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-11 col-sm-12 main">
              <div v-if="!content.custom_fields.chapters" v-html="content.post_content" class="content" />

              <div v-if="content.custom_fields.chapters && content.custom_fields.chapters.length > 0" class="dropdowns">
                <div v-for="(chapter,i) in content.custom_fields.chapters" :key="i" class="dropdown-wrapper">
                  <h2 class="h4 mt-2">
                    {{ chapter.chapter_title }}
                  </h2>
                  <h2 v-if="chapter.chapter_subtitle && chapter.chapter_subtitle !== ''" class="sub-title mb-3">
                    {{ chapter.chapter_subtitle }}
                  </h2>
                  <BaseCollapse

                    :header="chapter.title"
                    :faq="chapter.summary"
                    :collapse-id="'collpase-' + i"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="$route.params.post == 'personuppgifter' || $route.params.post == 'personaldata'" class="nav-icons d-none d-md-block">
          <b-button variant="dark" to="/integritetspolicy">
            {{ $t('page.page.policy') }}
          </b-button>
          <b-button @click="toTop()" variant="dark">
            {{ $t('page.page.top') }}
          </b-button>
        </div>
      </div>
      <BasePlaceholder v-else />
    </transition>
  </section>
</template>

<script>
import BaseCollapse from '~/components/BaseCollapse.vue'

export default {
  components: {
    BaseCollapse
  },
  validate({ route }) {
    const path = route.path.split('/')

    const forbiddenPages = ['bolagsstyrning', 'for-investerare']

    if (forbiddenPages.includes(path[1])) {
      return false
    } else {
      return true
    }
  },
  computed: {
    content() {
      const path = (this.$route.params.post) ? this.$route.params.post : this.$route.params.page

      if (!this.$store.getters.getPage['page/' + path]) {
        this.$store.dispatch({ type: 'getPage', path, postType: 'page' })
      }

      return (this.$store.getters.getPage['page/' + path] !== 'pending') ? this.$store.getters.getPage['page/' + path] : false
    }
  },
  methods: {
    toTop() {
      if (this.content) {
        this.content.custom_fields.chapters.forEach((key, i) => {
          const el = document.getElementById('collpase-' + i)

          if (el && el.className && el.className.includes('show')) {
            this.$root.$emit('bv::toggle::collapse', 'collpase-' + i)
          }
        })
      }

      window.scrollTo(0, 0)
    }
  }
}
</script>

<style lang="scss">
.random-page-wrapper {
  margin-bottom: 200px;

  table {
    border: solid 1px #000;

    tr {
      height: auto;
    }
  }

  .hero {
    height: 40vh;
    position: relative;
    background-position: center;
    background-size: cover;

    &:before {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      content: ' ';
      opacity: 0.8;
      background-color: #191924;
    }

   .content-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform:translate(-50%, -50%);
      text-align: center;
      color: #fff;
    }

  }

  .main {
    max-width: 920px;
  }

  .main>.content, .main>.dropdowns {
    margin: 70px 0;
  }

  .dropdown-wrapper {
    .collpase-wrapper  {
      margin-bottom: 1rem;
    }

    .content-footer {
      .description {
        display: none;
      }
    }
  }

  .nav-icons {
      position: fixed;
      bottom: 15px;
      right: 15px;

      .btn {
        display: block;
        margin-bottom: 15px;
      }
  }
}
</style>
