<template>
  <section class="aktien-wrapper">
    <Ir :hero-type="false" :sidebar="false" content-type="irStocks" />
  </section>
</template>

<script>
import Ir from '~/components/Ir.vue'

export default {
  components: {
    Ir
  }
}
</script>

<style>
.aktien-wrapper {

}
</style>
