<template>
  <section class="styrelse-wrapper">
    <Ir :hero-type="false" :sidebar="true" content-type="wpContent" />
  </section>
</template>

<script>
import Ir from '~/components/Ir.vue'

export default {
  components: {
    Ir
  }
}
</script>

<style>
.styrelse-wrapper {

}
</style>
