<template>
  <section class="finansiella-rapporter-wrapper">
    <Ir :hero-type="'small'" :sidebar="true" content-type="wpContent" />
  </section>
</template>

<script>
import Ir from '~/components/Ir.vue'

export default {
  components: {
    Ir
  }
}
</script>

<style>
.finansiella-rapporter-wrapper-wrapper {

}
</style>
