<template>
  <section class="for-investerare-wrapper">
    <Ir :sub-page="false" :hero-type="'small'" :sidebar="true" content-type="forInvesterare" />
  </section>
</template>

<script>
import Ir from '~/components/Ir.vue'

export default {
  components: {
    Ir
  }
}
</script>

<style>
.for-investerare-wrapper {

}
</style>
