<template>
  <section class="post-tall-wrapper">
    <nuxt-link :to="url" class="p-overlay" />
    <div :style="{'background-image': 'url('+ bgImage +')'}" class="bg-image" />

    <div class="content-wrapper">
      <div class="sub-title">
        {{ subTitle }}
      </div>
      <div v-html="title" class="h5" />
    </div>
  </section>
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  components: {

  },
  props: {
    url: {
      type: String,
      default: '#'
    },
    bgImage: {
      type: String
    },
    title: {
      type: String
    },
    subTitle: {
      type: String
    }
  }
}
</script>

<style lang="scss">
.post-tall-wrapper {
  height: 600px;
  //box-shadow: 0 10px 50px 0 rgba(0,0,0,0.15);
  color: #fff;
  position: relative;

  @media (max-height: 899.98px) {
    height: 400px;
  }

  @media (max-width: 991.98px) {
    height: 400px;
  }

  @media (max-width: 575.98px) {
    height: 300px;
  }

  .p-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  .content-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 35px 35px;

    @media (max-width: 991.98px) {
      margin: 15px 25px;
    }

    /*@media (max-width: 991.98px) {
      margin: 25px 25px;
    }*/

    .sub-title {
      text-transform: uppercase;
      margin-bottom: 15px;
    }
  }

  .bg-image {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;

    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.58));
    }
  }
}
</style>
