<template>
  <div class="press-releases-wrapper">
    <h3 class="h3 text-uppercase mb-4">
      <nuxt-link :to="$t('component.base.pressRelease.path')">
        {{ $t('component.base.pressRelease.title') }}
      </nuxt-link>
    </h3>
    <div v-if="cisionSummary.Releases && !isLoading">
      <div v-for="(release , i) in cisionSummary.Releases.slice(0,3)" :key="i">
        <h2 class="h4 mb-1">
          <nuxt-link :to="$t('component.base.pressRelease.path') + release['EncryptedId'] ">
            {{ release['Title'] }}
          </nuxt-link>
        </h2>
        <div class="sub-title text-uppercase mb-3">
          {{ formatDate(release['PublishDate']) }}
        </div>
        <div class="content mb-4">
          {{ release['Intro'] }}
        </div>
        <a v-if="release['Files'].length > 0" :href="release['Files'][0]['Url']" class="archive-footer readmore" download target="_blank">
          <svg-icon name="download-alt" />
          {{ $t('component.base.pressRelease.pdf') }}
        </a>
        <hr>
      </div>
    </div>
    <BaseLoading v-else />
  </div>
</template>
<script>
export default {
  data() {
    return {
      isLoading: true
    }
  },
  computed: {
    cisionSummary() {
      return this.$store.getters['cision/getCisionSummary']
    }
  },
  mounted() {
    if (!this.$store.getters['cision/getCisionSummary']) {
      this.$store.dispatch({ type: 'cision/getCisionSummary', detailLevel: 'medium' })
    }
    this.isLoading = false
  }
}
</script>
<style lang="scss">
  .press-releases-wrapper {
    .h4 a {
      color: #000;

      &:hover {
        color: #af7a3b;
      }
    }
  }
</style>
