<template>
  <div class="financal-calendar-wrapper">
    <h2 class="h3 mb-4">
      <nuxt-link :to="$t('component.ir.contentTypeCisionSpecial.calendar.url')">
        {{ $t('component.ir.contentTypeCisionSpecial.calendar.title') }}
      </nuxt-link>
    </h2>
    <div v-if="!isLoading" class="content">
      <BaseCalendarList :calendar-items="calendarItems" />
    </div>
    <BaseLoading v-else />
  </div>
</template>
<script>
export default {
  props: {
    timeframe: {
      type: String
    }
  },
  data() {
    return {
      isLoading: true
    }
  },
  computed: {
    calendarItems() {
      const path = (this.$store.state.i18n.locale === 'en')
        ? 'financial-calendar'
        : 'finansiell-kalender'

      const res = []

      const page = this.$store.getters.getPage['page/' + path]

      if (page && page.custom_fields.calendar.length > 0) {
        const date = new Date()
        const months = this.$t('global.months')
        page.custom_fields.calendar.forEach((calendarItem) => {
          if (calendarItem.date) {
            calendarItem.date = calendarItem.date.replace(' 00:00', '')
            const d = calendarItem.date.split(/[- :]/)

            const itemDate = new Date(d[2], months.indexOf(d[1]), d[0])

            if (itemDate > date) {
              calendarItem.date = itemDate.getDate() + ' ' + months[itemDate.getMonth()] + ' ' + itemDate.getFullYear()

              res.push(calendarItem)
            }
          }
        })
      }

      return res.slice(0, 3)
    }
  },
  mounted() {
    const path = (this.$store.state.i18n.locale === 'en')
      ? 'financial-calendar'
      : 'finansiell-kalender'
    if (!this.$store.getters.getPage['page/' + path]) {
      this.$store.dispatch({ type: 'getPage', path, postType: 'page' })
    }
    this.isLoading = false
  }
}
</script>
<style lang="scss">
  .financal-calendar-wrapper {

  }
</style>
