<template>
  <section class="archive-filter-wrapper">
    <div class="row">
      <div class="col-3 d-none">
        <div class="order-by-wrapper">
          {{ $t('component.base.archiveFilter.sort') }}: {{ orderBy.name }} <svg-icon name="angle-down" />
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="category-wrapper">
          <nuxt-link
            v-for="(category, i) in postCategories"
            :key="i"
            :to="(($store.state.i18n.locale === 'en')? '/en' : '') + '/inspiration/' + category.slug"
            class="h6"
          >
            {{ category.name }}
          </nuxt-link>

          <!--Välj kategori <svg-icon name="angle-down" />-->
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="search-wrapper">
          <svg-icon name="search" /> <input
            ref="search"
            v-model="searchVal"
            :placeholder="$t('component.base.archiveFilter.placeholder')"
            @focus="goToSearchPage"
            @keyup="search"
            type="text"
          >
        </div>
      </div>
    </div>
  </section>
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  components: {

  },
  data() {
    return {
      orderBy: { name: this.$t('component.base.archiveFilter.order'), value: 'date' },
      searchVal: undefined
    }
  },
  computed: {
    articels() {
      const res = []
      if (this.$store.getters.getCpt.article) {
        this.$store.getters.getCpt.article.forEach((article) => {
          res.push(this.$store.getters.getPagePreview['article/' + article])
        })
      }

      return res.concat(res)
    },
    postCategories() {
      const articels = this.articels

      const res = []
      res.push({ name: this.$t('component.base.archiveFilter.category'), slug: 'all' })
      const picked = []

      articels.forEach((article) => {
        if (article) {
          if (!picked.includes(article.post_taxs.category[0].slug)) {
            res.push({ name: article.post_taxs.category[0].name, slug: article.post_taxs.category[0].slug })
            picked.push(article.post_taxs.category[0].slug)
          }
        }
      })

      return res
    }
  },
  mounted() {
    if (this.$route.query.focus) {
      this.$refs.search.focus()
    }
  },
  methods: {
    search() {
      this.$emit('search', this.searchVal)
    },
    goToSearchPage() {
      if (!this.$route.params.category) {
        this.$router.push({ path: this.$t('component.base.archiveFilter.searchPage'), query: { focus: true } })
      }
    }
  }
}
</script>

<style lang="scss">
.archive-filter-wrapper {
  color: #9d9d9d;
  background-color: #f1f1f1;
  box-shadow: 0 10px 50px 0 rgba(0,0,0,0.15);

  .order-by-wrapper, .category-wrapper, .search-wrapper {
    //padding: 38px 0;
  }

  .order-by-wrapper{

  }

  .category-wrapper {

    @media (max-width: 991.98px) {
      background-color: #e4e4e4;
    }

    @media (max-width: 575.98px) {
      white-space: nowrap;
      overflow-x: scroll;
    }

    a {
      padding: 36px 42px;
      display: inline-block;
      color: #9d9d9d;
      text-decoration: none;

      @media (max-width: 991.98px) {
        padding: 36px 24px;
      }

      &:hover, &.nuxt-link-active {
        color: #000;

        border-bottom-style: solid;
        border-width: 2px;
        border-image-source: linear-gradient(113deg, #af7a3b, #e8b86a 53%, #af7a3b);
        border-image-slice: 1;
        border-top-style: none;
      }
    }
  }

  .search-wrapper {
    margin: 0 12px;
    input {
      border: none;
      height: 90px;
      width: calc(100% - 30px);
    }
  }

  svg {
    fill: #9d9d9d;
    width: 25px;
    height: 25px;
  }
}
</style>
