<template>
  <div class="financal-reports-wrapper">
    <h3 class="h3 text-uppercase mb-4">
      <nuxt-link :to="$t('component.base.financalReports.url')">
        {{ $t('component.base.financalReports.title') }}
      </nuxt-link>
    </h3>
    <div v-if="reportsPage">
      <div class="files-list">
        <BaseFileList :files="formatFiles(reports.slice(0, 6))" />
      </div>
    </div>

    <BaseLoading v-else />
  </div>
</template>
<script>
export default {
  data() {
    return {
      isLoading: true
    }
  },
  computed: {
    activeYears() {
      const date = new Date()

      return [date.getFullYear(), date.getFullYear() - 1]
    },
    reports() {
      return (this.reportsPage) ? this.reportsPage.custom_fields.files : []
    },
    reportsPage() {
      const path = (this.$store.state.i18n.locale === 'en') ? 'financial-reports' : 'finansiella-rapporter'

      return this.$store.getters.getPage['page/' + path] || false
    }
  },
  mounted() {
    const path = (this.$store.state.i18n.locale === 'en')
      ? 'financial-reports'
      : 'finansiella-rapporter'
    if (!this.$store.getters.getPage['page/' + path]) {
      this.$store.dispatch({ type: 'getPage', path, postType: 'page' })
    }

    this.isLoading = false
  },

  methods: {
    filesFromYear(year) {
      const res = []

      this.reports.forEach((report) => {
        const fileDate = new Date(report.date)

        if (year === fileDate.getFullYear()) {
          res.push(report)
        }
      })

      return res
    },
    formatFiles(files) {
      const res = []
      files.forEach((file) => {
        res.push({
          title: file.file.title,
          url: file.file.link,
          date: file.date
        })
      })

      return res
    }
  }
}
</script>
<style lang="scss">

  .financal-reports-wrapper {

  }
</style>
