<template>
  <div class="loading-wrapper">
    <div class="loading-inner">
      <div class="animated-background">
        <div class="background-masker header-left" />
        <div class="background-masker header-right" />
        <div class="background-masker header-bottom" />
        <div class="background-masker subheader-left" />
        <div class="background-masker subheader-right" />
        <div class="background-masker subheader-bottom" />
        <div class="background-masker content-top" />
        <div class="background-masker content-first-end" />
        <div class="background-masker content-second-line" />
        <div class="background-masker content-second-end" />
        <div class="background-masker content-third-line" />
        <div class="background-masker content-third-end" />
      </div>
    </div>
  </div>
</template>
<script>
export default {

}
</script>
<style lang="scss">
  .loading-wrapper {
    position: relative;
    padding-top: 30%;

    .loading-inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 20%;
        width: 20%;
        fill: #af7a3b;

      }
    }

    @keyframes placeHolderShimmer {
      0%{ background-position: -468px 0; }
      100%{ background-position: 468px 0; }
    }

    .animated-background {
      opacity: 0.6;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: placeHolderShimmer;
      background: #af7a3b;
      background: linear-gradient(to right, #af7a3b 8%, #e8b86a 18%, #af7a3b 33%);
      background-size: 800px 104px;
      height: 96px;
      position: relative;
    }

    .background-masker {
      background: #fff;
      position: absolute;
    }

    /* Every thing below this is just positioning */

    .background-masker.header-top,
    .background-masker.header-bottom,
    .background-masker.subheader-bottom {
        top: 0;
        left: 0px;
        right: 0;
        height: 10px;
    }

    .background-masker.header-left,
    .background-masker.subheader-left,
    .background-masker.header-right,
    .background-masker.subheader-right {
        top: 0px;
        left: 0px;
        height: 18px;
    }

    .background-masker.header-bottom {
        top: 18px;
        height: 6px;
    }

    .background-masker.subheader-left,
    .background-masker.subheader-right {
        top: 24px;
        height: 6px;
    }

    .background-masker.header-right,
    .background-masker.subheader-right {
        width: auto;
        left: 300px;
        right: 0;
    }

    .background-masker.subheader-right {
        left: 230px;
    }

    .background-masker.subheader-bottom {
        top: 30px;
        height: 10px;
    }

    .background-masker.content-top,
    .background-masker.content-second-line,
    .background-masker.content-third-line,
    .background-masker.content-second-end,
    .background-masker.content-third-end,
    .background-masker.content-first-end {
        top: 40px;
        left: 0;
        right: 0;
        height: 6px;
    }

    .background-masker.content-top {
        height:20px;
    }

    .background-masker.content-first-end,
    .background-masker.content-second-end,
    .background-masker.content-third-end{
        width: auto;
        left: 380px;
        right: 0;
        top: 60px;
        height: 8px;
    }

    .background-masker.content-second-line  {
        top: 68px;
    }

    .background-masker.content-second-end {
        left: 420px;
        top: 74px;
    }

    .background-masker.content-third-line {
        top: 82px;
    }

    .background-masker.content-third-end {
        left: 300px;
        top: 88px;
    }
  }
</style>
