<template>
  <div class="post-card-wrapper">
    <div :style="{'background-image' : 'url('+post.featured_image[getImageSize('tablet')]+')'}" class="bg-image" />
    <nuxt-link v-if="type === 'article'" :to="formatUrl(post)" />
    <div v-if="type === 'article'" class="content-wrapper">
      <div class="sub-title text-uppercase text-primary">
        {{ post.post_taxs.category[0].name }}
      </div>
      <div class="h5">
        {{ post.post_title }}
      </div>
      <div class="content">
        {{ post.post_excerpt }}
      </div>
    </div>
    <div v-if="type === 'employee'" class="content-wrapper">
      <div class="name-wrapper">
        {{ post.post_title }}
      </div>
      <div class="sub-title">
        {{ post.custom_fields.title }}
      </div>
      <div class="post-card-footer">
        <div class="mail-wrapper description">
          {{ post.custom_fields['e-mail'] }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  components: {

  },
  props: {
    post: {
      type: Object
    },
    type: {
      default: 'article'
    }
  }
}
</script>

<style lang="scss">
.post-card-wrapper {
  height: 100%;
  box-shadow: 0 10px 50px 0 rgba(0,0,0,0.15);
  position: relative;

    .bg-image {
      height: 350px;
      background-position: center;
      background-size: cover;

      @media (max-width: 1439.98px) {
        height: 200px;
      }

      @media (max-height: 899.98px) {
        height: 200px;
      }
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .content-wrapper {
      padding: 24px 36px;
      background-color: #fff;

      @media (max-width: 1439.98px) {

      }

      .sub-title {
        margin-bottom: 16px;
      }

      .h6 {
        margin-bottom: 16px;
      }

      .content {
        color: #9d9d9d;
      }

      .name-wrapper {
        font-weight: 700;
      }

      .sub-title {
        text-transform: uppercase;
      }

      .post-card-footer {
        margin-top: 35px;
      }
    }
}
</style>
