<template>
  <div class="hero-wrapper">
    <div class="row">
      <div class="col-12 ">
        <div class="row">
          <div class="col-12 col-md-5 col-lg-4">
            <div class="intro-wrapper bg-danger">
              <div class="content-wrapper text-light">
                <svg-icon v-if="logotype" name="k-fast" />
                <h1 class="h3 text-center text-uppercase mb-4">
                  {{ title }}
                </h1>
                <div v-html="content" />
              </div>
            </div>
          </div>

          <div class="col-12 col-md-7 col-lg-8 h-big">
            <BaseBlockBorder
              :background-image="(image)? image[getImageSize('max')]: false"
              :video="video"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    logotype: {
      type: Boolean,
      default: false
    },
    title: {
      type: String
    },
    content: {
      type: String
    },
    image: {
      type: Object
    },
    video: {
      type: String
    }
  }
}
</script>
<style lang="scss">
  .hero-wrapper {
     iframe {
      width: 100%;
    }

    .h-big {
      .block-border-wrapper {
        padding-top: 56.2%;
      }
    }

    .intro-wrapper {
      padding: 5vmin;
      height: 100%;
      svg {
        margin: 0 auto;
        width: 70%;
        display: block;
        margin-bottom: 4vmin;
        fill: #fff;
      }
    }
  }
</style>
