<template>
  <div class="vimeo-wrapper">
    <iframe :src="'https://player.vimeo.com/video/' + id " frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen />
  </div>
</template>
<script>
export default {
  props: {
    id: {
      type: [String, Number]
    }
  }
}
</script>
<style lang="scss">
  .vimeo-wrapper {
    margin: 2rem 0;
    padding-top: 56%;
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
    }

  }
</style>
