<template>
  <div
    :class="
      [
        'input-wrapper',
        {'valid': value && input.valid},
        {'invalid': !input.valid}
      ]
    "
  >
    <div class="input-inner">
      <label>{{ input.label }}</label>
      <b-form-input v-model="value" :placeholder="input.placeholder" @keyup="sendValue" />
    </div>
  </div>
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  components: {

  },
  props: ['input', 'type'],
  data() {
    return {
      value: undefined
    }
  },
  methods: {
    sendValue() {
      this.$emit('inputChange', [this.value, this.type])
    }
  }
}
</script>

<style>
.form-small-wrapper {

}
</style>
