<template>
  <div class="collpase-wrapper ">
    <b-button @click="toggleCollapse" class="" block variant="light">
      {{ header }}
      <div class="svg-wrapper">
        <svg-icon v-if="!isOpen" name="plus" />
        <svg-icon v-if="isOpen" name="minus" />
      </div>
    </b-button>
    <b-collapse :id="collapseId" v-model="isOpen">
      <div v-if="list" class="b-list-group-wrapper">
        <b-list-group v-for="(listItem, i) in list" :key="i" class="link-wrapper">
          <b-list-group-item v-if="listItem.select == 'link'" :to="listItem.link.url">
            <svg-icon name="angle-right" />
            <span class="align-middle">{{ listItem.link.title }}</span>
          </b-list-group-item>

          <b-list-group-item v-if="listItem.select == 'pdf'" :href="listItem.pdf" target="_blank">
            <svg-icon name="angle-right" />
            <span class="align-middle">{{ listItem.pdf_name }}</span>
          </b-list-group-item>

          <b-list-group-item v-if="listItem.select == 'content'" class="content-wrapper">
            <div v-html="listItem.description" class="content" />
          </b-list-group-item>
        </b-list-group>
      </div>
      <div v-if="faq" class="content-wrapper">
        <div v-html="faq" class="content" />
        <div class="content-footer">
          <div v-if="false" class="description">
            Hjälpte detta dig? <strong><span>Ja</span>/<span>Nej</span></strong>
          </div>
        </div>
      </div>
    </b-collapse>
  </div>
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  props: {
    header: {
      type: String
    },
    list: {
      type: [Array, Boolean]
    },
    faq: {
      type: String
    },
    collapseId: {
      type: String,
      default: 'collapse-1337'
    }

  },
  data() {
    return {
      isOpen: false

    }
  },
  methods: {
    toggleCollapse() {
      this.isOpen = !this.isOpen
    }
  }
}
</script>

<style lang="scss">
.collpase-wrapper {
  //box-shadow: 0 10px 50px 0 rgba(0,0,0,0.15);
  .btn {
    text-align: left;
    padding: 18px 20px;

    .svg-wrapper {
      float: right;
      svg {
        height: 22px;
        width: 22px;

      }
    }
  }

  .content-wrapper {
    background-color: #ffffff;
    padding: 0 62px;
    padding-top: 50px;

    table {
      tr {
        height: 30px;
      }
    }

    @media (max-width: 991.98px) {
      padding: 30px;
      padding-bottom: 0;
    }

    .content {
      padding-bottom: 60px;

      @media (max-width: 991.98px) {
        padding-bottom: 20px;
      }
    }

    .content-footer {
      border-top: solid 1px #000;
      padding-top: 16px;
      padding-bottom: 40px;

      @media (max-width: 991.98px) {
        padding: 15px 0;
      }

      span {
        margin: 0 5px;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  .list-group {
    margin: 8px 0;

    .list-group-item {
      border: 0;
      border-radius: 0;
      color: #000;

      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}
</style>
