<template>
  <section class="file-list-wrapper">
    <table>
      <tbody>
        <tr v-for="(file, i) in files" :key="i">
          <td v-if="file.url" class="file-type">
            <a :href="file.url" target="_blank" />

            <svg-icon :name="(file.url.endsWith('.mp3') || file.url.endsWith('.mp4'))? 'music': 'file-exclamation'" />
          </td>
          <td>
            <a :href="file.url" target="_blank" />
            <div class="file-title font-weight-bold">
              {{ file.title }}
            </div>
            <div class="file-date">
              {{ formatDate(file.date) }}
            </div>
          </td>
          <td>
            <a :href="file.url" target="_blank" />
            <svg-icon name="download-alt" />
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  components: {

  },
  props: {
    files: {
      type: Array
    }
  }
}
</script>

<style lang="scss">
.file-list-wrapper {
    margin-bottom: 66px;

    .h5 {
      margin-bottom: 16px;
    }
    svg {
        width: 30px;
        height: 50px;
        display: block;
        margin: 0 auto;
      }

    td {
      position: relative;

      a {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

}
</style>
