<template>
  <div class="post-wide-wrapper">
    <div class="row">
      <div :class="['col-12 col-md-6', {'order-md-1': imagePos == 'right'}]">
        <div
          :style="{'background-image': 'url(' + ((post.featured_image)? post.featured_image[getImageSize('tablet')]: false) + ')'}"
          class="bg-image"
        />
      </div>
      <div :class="['col-12 col-md-6']">
        <div class="content-wrapper">
          <div v-if="post.post_taxs && post.post_taxs.category" class="category sub-title">
            {{ post.post_taxs.category[0].name }}
          </div>
          <h4 class="h3">
            {{ post.post_title }}
          </h4>
          <div v-html="post.post_excerpt" class="content" />
        </div>
        <div class="buttons-wrapper">
          <div class="button-wrapper">
            <nuxt-link :to="formatUrl(post)">
              <b-button variant="dark">
                {{ (primaryLinkText) ? primaryLinkText : $t('component.base.postWide.readmore') }}
              </b-button>
            </nuxt-link>
          </div>
          <div v-if="secondaryLink && secondaryLink.url && secondaryLink.url !== ''" class="button-wrapper">
            <nuxt-link
              v-bind="[{target: secondaryLink.target}, formatUrlBind(secondaryLink.url)]"
            >
              <b-button variant="dark">
                {{ secondaryLink.title }}
              </b-button>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  components: {

  },
  props: {
    post: {
      type: Object
    },
    imagePos: {
      type: String,
      default: 'left'
    },
    primaryLinkText: {
      type: [String, Boolean],
      default: false
    },
    secondaryLink: {
      type: [Object, Boolean],
      default: false
    }
  },
  methods: {
    formatUrlBind(url) {
      const res = {}

      const bind = (url && url.startsWith('http')) ? 'href' : 'to'
      res[bind] = url

      const tag = (url && url.startsWith('http')) ? 'a' : 'nuxt-link'
      res.is = tag

      return res
    }
  }
}
</script>

<style lang="scss">
.post-wide-wrapper {
  background-color: #f1f1f1;
  margin-bottom: 100px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.15);

  @media (max-width: 575.98px) {
    margin-bottom: 80px;
  }

  .content-wrapper {
    margin: 80px  60px 80px 90px;

    @media (max-width: 1439.98px) {
      margin: 35px 30px;
    }

    .category {
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .h3 {
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }

  .buttons-wrapper {
    transform: translateY(50%);
    display: flex;
    margin: 0 auto;
    max-width: 500px;

    .button-wrapper {
      margin: 0 auto;
      text-align: center;
    }

    @media (max-width: 1439.98px) {
      display: block;
    }
  }

  .bg-image {
    height: 100%;
    //background-image: url('https://source.unsplash.com/random/4');
    background-size: cover;
    background-position: center;
    min-height: 200px;

  }
}
</style>
