<template>
  <div class="cta-wrapper bg-danger">
    <h2>{{ title }}</h2>
    <div v-html="content" class="h5 mb-5" />
    <b-button v-if="button" :to="button.url" variant="primary">
      {{ button.title }}
      <svg-icon name="arrow-down-right" />
    </b-button>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String
    },
    content: {
      type: String
    },
    button: {
      type: Object
    }
  }
}
</script>
<style lang="scss">
  /* Core styles */
  .cta-wrapper {
    color: #fff;
    position: relative;
    padding: 2.4rem;

    .btn {
      display: flex;
      height: auto;
      width: 350px;
      max-width: 100%;
      padding: 2.65rem 2.75rem;
      justify-content: center;
    }

    svg {
      margin-left: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      fill: #fff;
      transform: rotate(-45deg);
    }

    &:after {
      z-index: 2;
      pointer-events: none;
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      content: ' ';
      border-style: solid;
      border-width: 2px;
      border-image-source: linear-gradient(113deg, #af7a3b, #e8b86a 53%, #af7a3b);
      border-image-slice: 1;

      @media (max-width: 575.98px) {
        //display: none;
      }
    }
  }
</style>
