<template>
  <section class="post-slider-wrapper">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="post-slider-header">
            <div class="row justify-content-center">
              <div class="col-11 col-sm-12">
                <div class="title-wrapper">
                  <h2 class="title h3">
                    {{ title }}
                  </h2>
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <p>
                        {{ description }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div v-if="pages > 1" class="nav">
              <div class="progress-wrapper d-none d-sm-block">
                <div v-for="(j, i) in Array(pages)" :key="i" :class="['progress-item', {'active': currentPage >= i}]" />
              </div>

              <div class="nav-buttons d-none d-sm-block">
                <b-button @click="slide(-1)" variant="dark">
                  <svg-icon class="flip" name="angle-right" />
                </b-button>
                <b-button @click="slide(1)" variant="dark">
                  <svg-icon name="angle-right" />
                </b-button>
              </div>
            </div>
          </div>
          <div class="post-slider-body">
            <div :style="{'transform' : 'translateX(-' + pageOffset + '%)'}" class="row special-margin">
              <div v-for="(post, i) in posts" :key="i" class="col-10 col-sm-6 col-lg-4 col-xl-3">
                <BasePostCard :post="post" />
              </div>
            </div>
          </div>
          <div class="post-slider-footer">
            <nuxt-link
              :to="(($store.state.i18n.locale === 'en')? '/en': '') + '/inspiration/' + slug"
              class="readmore"
            >
              {{ $t('component.base.postSlider.readmore') }} <svg-icon name="arrow-up" />
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BasePostCard from '~/components/BasePostCard.vue'

export default {
  components: {
    BasePostCard
  },
  props: {
    title: {
      type: String
    },
    description: {
      type: String
    },
    posts: {
      type: Array
    }
  },
  data() {
    return {
      currentPage: 0
    }
  },
  computed: {
    slug() {
      return this.posts[0].post_taxs.category[0].slug
    },
    pages() {
      let postPerPage = 4

      if (this.isTablet()) {
        postPerPage = 2
      }

      if (this.isMobile()) {
        postPerPage = 1
      }

      return Math.ceil(this.posts.length / postPerPage)
    },
    pageOffset() {
      return 100 * this.currentPage
    }
  },
  methods: {
    slide(dir) {
      this.currentPage = this.currentPage + dir

      if (this.currentPage < 0) {
        this.currentPage = this.pages - 1
      }

      if (this.currentPage > this.pages - 1) {
        this.currentPage = 0
      }
    }
  }
}
</script>

<style lang="scss">
.post-slider-wrapper {
  margin-bottom: 130px;
  overflow: hidden;

  @media (max-width: 575.98px) {
    overflow: auto;
  }

  .special-margin {
    margin: 0 -7px;

    @media (max-width: 575.98px) {
      margin: 0;
    }

    .post-card-wrapper {
      margin: 0 7px;

      @media (max-width: 575.98px) {
        margin: 0;
      }
    }
  }

  .post-slider-header {
    overflow: hidden;
    .title-wrapper {
      //float: left;
      //transform: translateY(7px);

      @media (max-width: 575.98px) {
        float: none;
        transform: translateY(0px);
      }
    }

    .nav {
      float: right;

      @media (max-width: 575.98px) {
        float: none;
      }

      .nav-indicators {
        width: 45%;
        opacity: 0.4;
        hr {
          display: inline-block;
          margin: 3px 0;
          border-width: 1px;
          width: calc(100% - 60px);
          border-color: #9d9d9d;
          border-image-source: unset;
        }

        svg {
          fill: #9d9d9d;
          display: inline-block;
          width: 20px;
          height: 20px;

          &.flip {
            transform: rotate(180deg);
          }
        }
      }

      .progress-wrapper {
        margin: 0 15px;

        .progress-item {
          width: 45px;
          margin: 26px 3px;
          display: inline-block;

          position: relative;

          &:before {
            content: ' ';
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            border-top: solid 2px #e4e4e4;
            pointer-events: none;
          }

          &:after {
            content: ' ';
            position: absolute;
            top: 0px;
            left: 0px;
            right: 100%;
            bottom: 0px;
            border-top-style: solid;
            border-top-width: 2px;
            border-image-source: linear-gradient(113deg, #af7a3b, #e8b86a 53%, #af7a3b);
            border-image-slice: 1;
            pointer-events: none;
            transition: 0.4s;
          }

          &.active {
            &:after {
              right: 0%;
            }
          }
        }
      }

      .nav-buttons {
        .btn {
          display: block;
          float: left;
          width: 55px;
          height: 55px;

          svg {
            width: 30px;
            height: 30px;
            fill: #fff;

            &.flip {
              transform: rotate(-180deg);
            }
          }
        }
      }
    }
  }

  .post-slider-body {

    @media (max-width: 1439.98px) {
      overflow: scroll;
      padding: 0;
      padding-bottom: 30px;

      /*.row>* {
        padding: 30px 15px;
      }*/
    }

    .row {
      transition: 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);

      flex-wrap: unset;

    }
  }

  .post-slider-footer {
    .readmore {
      display: inline-block;
      padding: 24px 32px;

      svg {
        transform: rotate(90deg);
      }
    }
  }
}
</style>
