<template>
  <div v-in-viewport :class="['slide-text-wrapper', dir]">
    <div class="curtain" />
    <h2 class="h1">
      {{ text }}
    </h2>
  </div>
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  components: {

  },
  props: {
    text: {
      type: String
    },
    dir: {
      type: String,
      default: 'right'
    }
  }
}
</script>

<style lang="scss">
.IE-true {
  .curtain {
    display: none;
  }
}

.slide-text-wrapper {
  color: #9d9d9d;
  margin-bottom: 0px;
  position: relative;

  .curtain {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition-delay: 1s;
  }

  &.right {
    text-align: right;

    .curtain {
      left: 0;
      right: 0%;
    }

    &.fully-in-viewport {
      .curtain {
        right: 100%;
      }
    }
  }

  &.left {
    text-align: left;

    .curtain {
      left: 0;
      right: 0%;
    }

    &.fully-in-viewport {
      .curtain {
        left: 100%;
      }
    }
  }
}
</style>
