<template>
  <section class="placeholder-wrapper">
    <svg-icon name="k-fast" />
    <div class="hr-wrapper">
      <hr>
    </div>
  </section>
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  components: {

  }
}
</script>

<style lang="scss">
.placeholder-wrapper {
  background-color: #191924;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  svg {
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hr-wrapper {
    position: absolute;
    top: calc(50% + 75px + 24px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 245px;
    hr {
      width: 0%;
      animation-name: aniWidth;
      animation-duration: 1.4s;
      animation-delay: 0.7s;
      margin: 0;
    }
  }

  @keyframes aniWidth {
    from {width: 0%}
    to {width: 99%}
  }
}
</style>
