<template>
  <section class="calendar-list-wrapper">
    <table>
      <tbody>
        <tr v-for="(calendarItem, i) in calendarItems" :key="i">
          <td>
            <div class="file-title font-weight-bold">
              {{ calendarItem.name }}
            </div>
            <div class="file-date">
              {{ calendarItem.date }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  components: {

  },
  props: {
    calendarItems: {
      type: Array
    }
  }
}
</script>

<style lang="scss">
.calendar-list-wrapper {
    margin-bottom: 66px;

    .h5 {
      margin-bottom: 16px;
    }
    svg {
        width: 30px;
        height: 50px;
        display: block;
        margin: 0 auto;
      }

    td {
      position: relative;

      a {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

}
</style>
