<template>
  <section class="block-border-wrapper">
    <div :class="['media-wrapper bg-image', {'bg-fade': faded || isMobile()}]">
      <div v-if="video && video !==''" class="iframe-wrapper">
        <iframe :src="'https://player.vimeo.com/video/' + video " frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen />
      </div>
      <div v-if="!video && backgroundImage" :style="{'background-image' : 'url('+ backgroundImage +')'}" class="image" />
    </div>

    <div class="content p-center">
      <div v-if="button" class="btn-wrapper">
        <nuxt-link :to="button.url">
          <b-button v-html="button.title" variant="primary" />
        </nuxt-link>
      </div>
      <div v-if="content" class="content-wrapper text-light">
        <svg-icon v-if="content.logotype" name="k-fast" />
        <h1 class="h3 text-center text-uppercase mb-4">
          {{ content.title }}
        </h1>
        <div v-html="content.content" />
      </div>
    </div>
  </section>
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  components: {

  },
  props: {
    faded: {
      type: Boolean
    },
    backgroundImage: {
      type: String
    },
    video: {
      type: String
    },
    button: {
      type: [Boolean, Object]
    },
    content: {
      type: [Boolean, Object]
    }
  }
}
</script>

<style lang="scss">
.block-border-wrapper {
  height: 100%;
  position: relative;

  .hide-bg {
    background-image: unset !important;
  }

  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .iframe-wrapper {
      height: 100%;
      background-color: #191924;

      iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: none;
      }

    }

    .image {
      height: 100%;
      background-size: cover;
      background-position: center center;
    }

    &:after {
       z-index: 2;
      pointer-events: none;
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      content: ' ';
      border-style: solid;
      border-width: 2px;
      border-image-source: linear-gradient(113deg, #af7a3b, #e8b86a 53%, #af7a3b);
      border-image-slice: 1;

      @media (max-width: 575.98px) {
        //display: none;
      }
    }

    &.bg-fade:before {
      z-index: 1;
      pointer-events: none;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      content: ' ';
      opacity: 0.8;
      background-color: #191924;
    }
  }

  .p-center {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;

    @media (max-width: 575.98px) {
      width: calc(100% - 48px);
    }
  }

  .btn-wrapper {
    margin: 0 auto;
    padding: 0 40px;

    @media (max-width: 575.98px) {
      padding: 0 20px;
    }

    .btn {
      display: block;
      margin: 0 auto;
    }

  }

  .content-wrapper {
    max-width: 540px;
    margin: 0 auto;

    @media (max-width: 991.98px) {
      max-width: 80%;
    }

    @media (max-width: 767.98px) {
      max-width: 70%;
    }
    @media (max-width: 575.98px) {
      max-width: 90%;
    }

    svg {
      margin: 0 auto;
      display: block;
      fill: #fff;
      margin-bottom: 70px;
      width: 250px;

      @media (max-width: 575.98px) {
        display: none;
      }
    }
  }
}
</style>
