<template>
  <section class="post-list-wrapper">
    <div class="into-wrapper">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-11 col-sm-12">
            <div class="title-wrapper">
              <BaseSlideText :text="intro.title" dir="right" />
            </div>
          </div>
        </div>
      </div>

      <div class="into-content">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-10">
              <div class="row">
                <div class="col-12 col-sm-12 col-xl-6">
                  <h3 class="h3 text-uppercase mb-4">
                    {{ intro.subTitle }}
                  </h3>
                  <div class="content">
                    {{ intro.content }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 col-md-11 col-lg-11">
          <div class="post-list">
            <BasePostWide
              v-for="(post, i) in posts"
              :key="i"
              :image-pos="(i % 2 == 0)? 'left' : 'right'"
              :post="post.post"
              :primary-link-text="post.primary_link_text"
              :secondary-link="post.secondary_link"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BaseSlideText from '~/components/BaseSlideText.vue'
import BasePostWide from '~/components/BasePostWide.vue'

export default {
  components: {
    BaseSlideText,
    BasePostWide
  },
  props: {
    intro: {
      type: Object
    },
    posts: {
      type: Array
    }
  }
}
</script>

<style lang="scss">
.post-list-wrapper {
  margin-top: 50px;

  .into-wrapper {

    .into-content {
      color: #fff;
      background-color: #191924;
      position: relative;
      padding: 10px;
      padding-top: 75px;
      padding-bottom: 230px;

      @media (max-width: 991.98px) {
        padding-top: 32px;

      }

      @media (max-width: 767.98px) {
        padding-bottom: 300px;
      }

      &:after {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        content: ' ';
        border-style: solid;
        border-width: 2px;
        border-image-source: linear-gradient(113deg, #af7a3b, #e8b86a 53%, #af7a3b);
        border-image-slice: 1;

      }
    }
  }

  .post-list {
    margin-top: -200px;

    @media (max-width: 991.98px) {
      margin-top: -200px;
    }

    @media (max-width: 767.98px) {
      margin-top: -280px;
    }
  }
}
</style>
