<template>
  <div class="breadcrumbs-wrapper ">
    <span v-for="(listItem, i) in listFormated" :key="i" class="text-primary">

      <a :class="i === listFormated.length - 1 ? 'curr-page text-primary sub-title' : 'sub-title'" :href="listItem.slug">{{ listItem.name }}</a> {{ i === listFormated.length - 1? '' : ' / ' }}
    </span>

    <span class="curr-page text-primary" />
  </div>
</template>

<script>
// import BaseHero from '~/components/BaseHero.vue'

export default {
  components: {
    // BaseHero
  },
  computed: {
    sitemap() {
      return this.$store.getters.getSitemap || []
    },
    postBySlug() {
      const res = []
      this.$route.path.split('/').forEach((slug) => {
        if (slug !== '') {
          this.sitemap.forEach((post) => {
            if (post.post_name === slug) {
              res.push(post)
            }
          })
        }
      })

      return res
    },
    listFormated() {
      const res = []

      // res.push({ name: 'K-Fastigheter', slug: '/' })

      this.postBySlug.forEach((post) => {
        if (post.post_type === 'article') {
          const currentPage = this.$route.path.split('/')
          res.push({ name: post.post_taxs.category[0].name, slug: '/' + currentPage[1] + '/' + currentPage[2] })
        }

        if (post.post_type === 'apartment' && post.post_taxs.apartment_category && post.post_taxs.apartment_category[0]) {
          if (post.post_taxs.apartment_category[0].slug === 'parking' || post.post_taxs.apartment_category[0].slug === 'parkering') {
            res.push({ name: this.$t('component.base.breadcrumbs.parking') })
          } else {
            res.push({ name: this.$t('component.base.breadcrumbs.available') })
          }
        }

        if (post.post_type === 'real-estate') {
          res.push({ name: this.$t('component.base.breadcrumbs.estate') })
        }

        res.push({ name: post.post_title, slug: this.formatUrl(post) })
      })

      return res
    }
  }
}
</script>

<style lang="scss">
.breadcrumbs-wrapper {
  text-transform: uppercase;
  margin: 0.7rem 0;
}
</style>
