<template>
  <div class="cta-page-wrapper">
    <div class="row">
      <div :class="['col-12 col-md-6', {'order-md-1': imagePos == 'right'}]">
        <div
          v-if="!video || video === ''"
          :style="{'background-image': 'url(' + ((image)? image[getImageSize('tablet')]: false) + ')'}"
          class="bg-image"
        />
        <BaseVimeo v-if="video && video !==''" :id="video" class="m-0" />
      </div>
      <div :class="['col-12 col-md-6 position-relative']">
        <div class="content-wrapper">
          <h4 class="h3">
            {{ title }}
          </h4>
          <div v-html="content" class="content" />
        </div>

        <div v-if="buttons" class="buttons-wrapper">
          <div v-for="(button, index) in buttons" :key="index" class="button-wrapper">
            <nuxt-link
              v-bind="[{target: button.button.target}, formatUrlBind(button.button.url)]"
            >
              <b-button variant="dark">
                {{ button.button.title }}
              </b-button>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String
    },
    content: {
      type: String
    },
    image: {
      type: Object
    },
    video: {
      type: String
    },
    imagePos: {
      type: String,
      default: 'left'
    },
    buttons: {
      type: [Array, Boolean],
      default: false
    }
  },
  methods: {
    formatUrlBind(url) {
      const res = {}

      const bind = (url && url.startsWith('http')) ? 'href' : 'to'
      res[bind] = url

      const tag = (url && url.startsWith('http')) ? 'a' : 'nuxt-link'
      res.is = tag

      return res
    }
  }
}
</script>

<style lang="scss">
.cta-page-wrapper {
  background-color: #f1f1f1;
  margin-bottom: 100px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.15);

  @media (max-width: 575.98px) {
    margin-bottom: 80px;
  }

  .content-wrapper {
    margin: 80px 60px 80px 90px;

    @media (max-width: 1439.98px) {
      margin: 35px 30px;
      margin-bottom: 45px;
    }

    .category {
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .h3 {
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }

  .buttons-wrapper {
    transform: translateY(50%);
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 1439.98px) {
      display: block;
    }
  }

  .bg-image {
    height: 100%;
    //background-image: url('https://source.unsplash.com/random/4');
    background-size: cover;
    background-position: center;
    min-height: 200px;

  }
}
</style>
