<template>
  <div @mouseleave="isSelectOpen = false" class="button-list-wrapper">
    <b-button-group :class="['office-btn-list', dir, {'active': isSelectOpen}]" vertical>
      <b-button
        v-for="option in options"
        :key="option.value"

        :class="{'active': isSelected(option.slug)}"
        @click="selectBtn(option)"
        block
        variant="dark"
      >
        <span>{{ option.text }}</span>
        <svg-icon v-if="isSelected(option.slug)" name="check" />
      </b-button>
    </b-button-group>
    <b-button id="main-button" :disabled="options.length === 0" @click="toggleSelect" block variant="dark">
      <template v-if="selectedValues.length > 0">
        <span>{{ displaySelected }}</span>
        <svg-icon name="angle-down" />
      </template>
      <template v-else>
        <span>{{ placeholder }}</span>
        <svg-icon name="angle-down" />
      </template>
    </b-button>
  </div>
</template>

<script>

export default {
  components: {
  },
  props: {
    type: {
      default: 'btn',
      required: false
    },
    options: {
      default: Array
    },
    selectedValues: {
      default: Array
    },
    dir: {
      default: 'up',
      required: false
    },
    placeholder: {
      default: ''
    },
    selectType: {
      default: 'single',
      required: false
    }
  },
  data() {
    return {
      search: '',
      isSelectOpen: false
    }
  },
  computed: {
    displaySelected() {
      const values = []
      this.selectedValues.forEach(function (value) {
        values.push(value.text)
      })

      if (this.selectType === 'multi') {
        if (values.length > 2) {
          return values[0] + ', ' + values[1] + ' and ' + String(values.length - 2) + ' more'
        } else {
          return values.join(', ')
        }
      } else {
        return values.join(', ')
      }
    }
  },
  methods: {
    isSelected(val) {
      let res = false
      this.selectedValues.forEach((selected) => {
        if (selected.slug === val) {
          res = true
        }
      })

      return res
    },
    focus(toggle) {
      this.$emit('focus', toggle)
    },
    toggleSelect() {
      this.isSelectOpen = !this.isSelectOpen
    },
    selectBtn(option) {
      this.$emit('selectedBtn', option)
      this.isSelectOpen = false
    }
  }
}
</script>

<style lang="scss">
.button-list-wrapper {
  position: relative;

  .btn {
    width: 100%;
  }

  svg {
    fill: #fff;
    width: 25px;
    height: 25px;
  }

  .btn-group-vertical {
    display: block;
  }

  .office-btn-list {
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    max-height: calc(60px * 5.5);
    overflow-y: scroll;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.15);
    margin-top: 60px;

    .btn {
      margin: 0 !important;
    }

    &.top {
      margin-top: 0px;
      margin-bottom: 60px;
      top: unset;
      bottom: 0;
    }

    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
</style>
