<template>
  <section v-if="contentFormated && wpContentParent" class="ir-wrapper">
    <IrNavbar :navigation="wpContentParent.custom_fields.navigation" />

    <div class="container">
      <div :class="['image-wrapper', {'small': heroType === 'small'}, {'d-none': heroType === false}]" :style="{'background-image': 'url('+ featImg +')' }">
        <div class="go-back h6">
          <nuxt-link :to="$t('component.ir.cisionArchiveCard.url')">
            {{ $t('component.ir.back') }}
          </nuxt-link>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-11 col-sm-12">
          <div class="row justify-content-center">
            <div :class="[{'col-12': !sidebar}, {'col-12 col-lg-7': sidebar}]">
              <IrContentTypeCisionContent v-if="contentType == 'irContent'" :content="contentFormated" />
              <IrContentTypeCisionStocks v-if="contentType == 'irStocks'" :content="contentFormated" />
              <IrContentTypeWordpressContent v-if="contentType == 'wpContent'" :content="contentFormated" />

              <IrContentTypeWordpressContentFilter v-if="contentType == 'wpContentFilter'" :content="contentFormated" />

              <IrContentTypeCisionArchive v-if="contentType == 'archive'" :content="contentFormated" />
              <IrContentTypeSpecial v-if="contentType == 'forInvesterare'" :content="contentFormated" />
            </div>
            <div :class="[{'d-none': !sidebar}, {'col-lg-4 offset-lg-1': sidebar}]">
              <IrSidebar
                v-if="sidebar && wpContentParent && wpContentChild"
                :navigation="false"
                :contact="(wpContentChild.custom_fields.contact && wpContentChild.custom_fields.contact.length > 0)? wpContentChild.custom_fields.contact[0]: false"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import IrNavbar from '~/components/IrNavbar.vue'
import IrSidebar from '~/components/IrSidebar.vue'
import IrContentTypeWordpressContent from '~/components/IrContentTypeWordpressContent.vue'
import IrContentTypeWordpressContentFilter from '~/components/IrContentTypeWordpressContentFilter.vue'
import IrContentTypeCisionContent from '~/components/IrContentTypeCisionContent.vue'
import IrContentTypeCisionStocks from '~/components/IrContentTypeCisionStocks.vue'
import IrContentTypeCisionArchive from '~/components/IrContentTypeCisionArchive.vue'
import IrContentTypeSpecial from '~/components/IrContentTypeSpecial.vue'

export default {
  components: {
    IrNavbar,
    IrSidebar,
    IrContentTypeCisionContent,
    IrContentTypeCisionStocks,
    IrContentTypeWordpressContentFilter,
    IrContentTypeCisionArchive,
    IrContentTypeWordpressContent,
    IrContentTypeSpecial
  },
  props: {
    content: {
      default: '',
      type: [String, Object, Boolean]
    },
    heroType: {
      default: true,
      type: [String, Boolean]
    },
    contentType: {
      default: 'content',
      type: String
    },
    sidebar: {
      default: true,
      type: Boolean
    },
    subPage: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    featImg() {
      if (this.contentType === 'irContent' && this.content) {
        if (this.content.Release.Images.length > 0) {
          return this.content.Release.Images[0].UrlTo800x800ArResized
        }
      } else if (this.wpContent && this.wpContent.featured_image && this.wpContent.featured_image[this.getImageSize('max')] !== null) {
        return this.wpContent.featured_image[this.getImageSize('max')]
      }
      return 'https://wordpress.k-fastigheter.com/wp-content/uploads/2021/02/DSC5320-scaled.jpg'
    },

    wpContentChild() {
      let path = this.$route.path

      path = path.replace('/en', '')
      path = path.replace('/for-investerare/', '')
      path = path.replace('/bolagsstyrning/', '')

      path = path.replace('/investors/', '')
      path = path.replace('/corporate-governance/', '')
      path = path.replace('/', '')

      if (this.$route.name.includes('for-investerare-press')) {
        path = (this.$route.name.includes('_en')) ? 'press-releases' : 'press'
      }

      if (this.subPage) {
        return this.$store.getters.getPage['page/' + path] || false
      } else {
        return this.wpContentParent
      }
    },

    wpContentParent() {
      const noLang = this.$route.path.replace('/en/', '/')
      const path = noLang.split('/')[1]

      return this.$store.getters.getPage['page/' + path]
    },

    contentFormated() {
      if (this.contentType === 'wpContent' || this.contentType === 'wpContentFilter' || this.contentType === 'forInvesterare' || this.contentType === 'irStocks') {
        return this.wpContentChild
      } else {
        return this.content
      }
    }
  },
  async mounted() {
    const noLang = this.$route.path.replace('/en/', '/')
    const path = noLang.split('/')[1]

    const lang = (this.$route.name.includes('_en')) ? 'en' : 'sv'

    if (!this.$store.getters.getPage['page/' + path]) {
      await this.$store.dispatch({ type: 'getPage', path: path, postType: 'page', lang: lang })
    }

    if (this.$route.name.includes('for-investerare-press-page')) {
      const pressPath = (this.$route.name.includes('_en')) ? 'press-releases' : 'press'

      if (!this.$store.getters.getPage['page/' + pressPath]) {
        await this.$store.dispatch({ type: 'getPage', path: pressPath, postType: 'page', lang: lang })
      }
    }
  }
}
</script>

<style lang="scss">
.ir-wrapper {
  .image-wrapper {

    background-position: center;
    background-size: cover;
    //background-image: url("https://wordpress.k-fastigheter.se/wp-content/uploads/2019/15/DSC5296-1.jpg");
    height: 50vh;
    position: relative;

    .go-back {
      background-color: #ffffff;
      position: absolute;
      bottom: 0;
      left: 0;

      padding: 20px;
      cursor: pointer;

      &:hover {
        background-color: #f1f1f1;
      }

      a {
        text-decoration: none;
        color: #9d9d9d;
      }
    }

    &.small {
      height: 25vh;

      .go-back {
        display: none;
      }
    }
  }
}
</style>
