<template>
  <div class="ir-cision-archive-card-wrapper archive-item">
    <h2 class="h4">
      <nuxt-link :to="$t('component.ir.cisionArchiveCard.url') + release['EncryptedId'] ">
        {{ release['Title'] }}
      </nuxt-link>
    </h2>
    <div class="sub-title text-uppercase">
      {{ formatDate(release['PublishDate']) }}
    </div>
    <div class="content">
      {{ release['Intro'] }}
    </div>
    <a v-if="release['Files'].length > 0" :href="release['Files'][0]['Url']" class="archive-footer readmore" download target="_blank">
      <svg-icon name="download-alt" />
      {{ $t('component.ir.cisionArchiveCard.pdf') }}
    </a>
    <hr>
  </div>
</template>

<script>

export default {
  components: {

  },
  props: {
    release: {
      type: [Object, String, Boolean]
    }
  }
}
</script>

<style lang="scss">
.ir-cision-archive-card-wrapper {
  .content {
    margin-top: 16px;
    margin-bottom: 45px;
    max-width: 800px;
  }

  .h4 a {
    color: inherit;
  }

  .archive-item {
    margin-bottom: 55px;

    .readmore {
      padding: 25px 0 ;

      svg {
        width: 25px;
        height: 25px;
        vertical-align: bottom;
      }
    }
  }
}
</style>
