<template>
  <section class="ir-content-type-stocks-wrapper">
    <div class="chart-wrapper">
      <div class="chart-header-wrapper">
        <h1 class="h5">
          K-Fastigheter
        </h1>
        <h2 class="sub-title">
          KFAST B
        </h2>
      </div>
      <no-ssr>
        <LineChart v-if="showLine && lineData.labels.length > 0" :data="lineData" :options="options" :styles="styles" class="chart" />
      </no-ssr>
    </div>

    <div class="content-wrapper my-3">
      <div v-html="content.custom_fields.content[0].content" class="content" />
    </div>

    <div class="info-wrapper h6">
      <b-tabs>
        <b-tab :title="$t('component.ir.contentTypeCisionStocks.tab[0]')" active>
          <table class="not-left">
            <tbody>
              <tr v-for="(row, index) in performance" :key="index">
                <td class="first sub-title">
                  {{ row.value }}
                </td>
                <td>{{ row.label }}</td>
              </tr>
            </tbody>
          </table>
        </b-tab>
        <b-tab :title="$t('component.ir.contentTypeCisionStocks.tab[1]')">
          <table class="text-center">
            <thead>
              <tr>
                <th>
                  {{ $t('component.ir.contentTypeCisionStocks.Buy') }}
                </th>
                <th>
                  {{ $t('component.ir.contentTypeCisionStocks.Volume') }}
                </th>
                <th style="width: 30%" />
                <th style="padding: 0" />
                <th style="width: 30%" />
                <th>
                  {{ $t('component.ir.contentTypeCisionStocks.Volume') }}
                </th>
                <th>
                  {{ $t('component.ir.contentTypeCisionStocks.Sell') }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(row, index) in orderbook" :key="index">
                <td class="sub-title">
                  {{ row.BidPrice }}
                </td>
                <td>{{ row.BidQuantity }}</td>
                <td><div :style="{width : row.BidVisual+ '%'}" class="range-bar float-right" /></td>
                <td style="width:2px !important; padding: 0;" />
                <td><div :style="{width : row.AskVisual+ '%'}" class="range-bar float-left" /></td>
                <td>{{ row.AskQuantity }}</td>
                <td class=" sub-title">
                  {{ row.AskPrice }}
                </td>
              </tr>
            </tbody>
          </table>
        </b-tab>
      </b-tabs>

      <div class="content-wrapper my-3">
        <div v-html="content.custom_fields.content[1].content" class="content" />
      </div>
    </div>

    <div v-for="(tableGroup, i) in content.custom_fields.tables" :key="i" :class="['tables-wrapper']">
      <div class="table-wrapper">
        <div class="table-header-wrapper">
          <h1 class="h5">
            {{ tableGroup.table_title }}
          </h1>
          <h2 class="sub-title">
            {{ tableGroup.table_subtitle }}
          </h2>
        </div>

        <b-table
          :class="'table-index-' + i"
          :fields="tableFields(tableGroup.table.header)"
          :items="tableItems(tableGroup.table.body, tableFields(tableGroup.table.header))"
          :stacked="isStacked"
        >
          <template #head()="scope">
            <span v-html="scope.label" />
          </template>

          <template #cell()="data">
            <span v-html="data.value" />
          </template>
        </b-table>
      </div>
      <div class="content-wrapper my-3">
        <div v-html="tableGroup.table_description" class="content" />
      </div>
    </div>
  </section>
</template>

<script>

import LineChart from '~/plugins/chart'

export default {

  components: {
    LineChart
  },
  props: {
    content: {
      type: [Object, String]
    }
  },
  data() {
    return {
      intervals: null,
      showLine: false,
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            gridLines: {
              display: false
            }
          }]
        },
        legend: {
          display: false,
          labels: {
            defaultFontColor: '#d8a662',
            defaultFontFamily: 'Arial'

          }
        }

      },
      styles: {
        height: '500px',
        position: 'relative'
      }
    }
  },
  computed: {
    isStacked() {
      return this.vueWindow.width < 1024.1
    },

    lineData() {
      return {
        labels: this.share.labels, // dates
        color: '#d8a662',
        datasets: [
          {
            label: 'KFAST',
            backgroundColor: 'rgba(0, 0, 0, 0.0)',
            borderColor: '#d8a662',
            lineTension: 0,
            borderWidth: 4,
            data: this.share.values
          }
        ]
      }
    },

    share() {
      const res = {
        labels: [],
        values: []
      }
      let data = this.$store.getters['cision/getCisionShare']

      if (data && data.Instruments && data.Instruments[0]) {
        data = data.Instruments[0].Quotes

        data.forEach((row) => {
          res.labels.push(this.format(row.QuoteTime, 'date'))
          res.values.push(this.format(row.Price, 'int'))
        })
      }

      return res
    },
    performance() {
      const res = []
      const data = this.$store.getters['cision/getCisionPerformance']
      const activeRows = [
        { label: 'Symbol', value: 'Symbol' },
        { label: 'TradeCurrency', value: 'TradeCurrency' },
        { label: 'MarketPlace', value: 'MarketPlace' },
        { label: 'ClosePrice1D', value: 'ClosePrice1D' },
        { label: 'LastPrice', date: 'LastUpdate', value: 'LastPrice' },
        { label: 'HighPriceYtd', date: 'HighPriceYtdDate', value: 'HighPriceYtd' },
        { label: 'LowPriceYtd', date: 'LowPriceYtdDate', value: 'LowPriceYtd' },
        { label: 'Ath', date: 'AthDate', value: 'Ath' },
        { label: 'Atl', date: 'AtlDate', value: 'Atl' },
        { label: 'NumberOfShares', value: 'NumberOfShares' }
      ]

      if (data && data.Instruments && data.Instruments[0]) {
        activeRows.forEach((row) => {
          let rowLabel = this.$t('component.ir.contentTypeCisionStocks.' + row.label)
          if (row.date) {
            const date = data.Instruments[0][row.date]

            rowLabel += ' (' + this.format(date, 'date') + ')'
          }
          const rowData = this.format(data.Instruments[0][row.value], 'int')
          res.push({ label: rowLabel, value: rowData })
        })
      }

      return res
    },
    orderbook() {
      const res = {}
      let data = this.$store.getters['cision/getCisionOrderbook']

      if (data && data.Instruments && data.Instruments[0]) {
        data = data.Instruments[0]

        const max = Math.max(data.HighestBidPrice * data.HighestBidQuantity, data.HighestAskPrice * data.HighestAskQuantity)

        data.OrderBookEntries.forEach((row) => {
          const rowRes = {}

          rowRes[row.EntrySide + 'Price'] = this.format(row.Price, 'int')
          rowRes[row.EntrySide + 'Quantity'] = this.format(row.Quantity, 'int')
          rowRes[row.EntrySide + 'Visual'] = (100 * row.Price * row.Quantity) / max

          if (!res[row.Level]) {
            res[row.Level] = {}
          }
          res[row.Level] = { ...res[row.Level], ...rowRes }
        })
      }

      return res
    }
  },
  mounted() {
    this.$store.dispatch({ type: 'cision/getCisionShare' })
    this.$store.dispatch({ type: 'cision/getCisionPerformance' })
    this.$store.dispatch({ type: 'cision/getCisionOrderbook' })
    this.showLine = true // showLine will only be set to true on the client. This keeps the DOM-tree in sync.

    this.intervals = setInterval(() => {
      this.$store.dispatch({ type: 'cision/getCisionShare' })
      this.$store.dispatch({ type: 'cision/getCisionPerformance' })
      this.$store.dispatch({ type: 'cision/getCisionOrderbook' })
    }, 15000)
  },
  destroyed() {
    clearInterval(this.intervals)
  },
  methods: {
    tableFields(fields) {
      const res = []

      console.log(fields)

      fields.forEach((col, i) => {
        const label = col.c.charAt(0).toUpperCase() + col.c.slice(1).toLowerCase()

        res.push({
          key: col.c + '-' + i,
          label: (this.isStacked) ? label.replace('<br>', '').replace('<br>', '') : label
        })
      })

      return res
    },
    tableItems(items, fields) {
      const res = []

      items.forEach((row) => {
        const resCol = {}

        row.forEach((col, index) => {
          resCol[fields[index].key] = col.c
        })

        res.push(resCol)
      })

      return res
    },

    numberWithSpaces(x) {
      const parts = x.toString().split('.')
      parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ' ')
      return parts.join('.')
    },
    format(value, type) {
      let res = ''
      const reg = /^\d.+$/

      if (type === 'date') {
        let date = ''
        if (value) {
          date = new Date(value)
        } else {
          date = new Date()
        }
        const monthNames = this.$t('global.months')

        res = date.getDate() + ' ' + monthNames[date.getMonth()] + ' ' + date.getFullYear()
      } else if (type === 'int' && reg.test(value)) {
        value = value.toFixed(2)

        res = this.numberWithSpaces(value)
      } else {
        res = value
      }

      return res
    }
  }
}
</script>

<style lang="scss">
.ir-content-type-stocks-wrapper {

  .chart-wrapper {
    overflow-x: scroll;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
        height: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #d8a662;
        border-radius: 0;
    }

    &::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: transparent;
    }

    .chart {
      min-width: 700px;
      max-height: 500px;
    }
  }

  .chart-header-wrapper {
    margin: 50px;
    margin-left: 35px;
  }

  table {

    .range-bar {
      height:8px;

      &.float-right {
        background-color: #d8a662;

      }

      &.float-left {
        background-color: #191924;
      }
    }

    &.b-table-stacked {
      tr {
        &:nth-child(odd) {
          background-color: #f1f1f1;
        }
        &:nth-child(even) {
          background-color: #fff;
        }

        td {
          /*&:nth-child(1) {
            border-top: 1px solid #fff;
            background-color: #d8a662;
            color: #fff;
          }*/
        }
      }
    }

    &.table-index-0 {
      &.b-table-stacked {
        tr {

          td {
            &:nth-child(1), &:nth-child(2) {
              border-top: 1px solid #fff;
              background-color: #d8a662;
              color: #fff;
            }
          }
        }
      }
    }

    &:not(.b-table-stacked):not(.not-left) {
      text-align: right;
      tr {
        th, td {
          &:first-of-type {
            text-align: left;
            padding-left: 1.5vmin;
          }

           &:last-of-type {
            padding-right: 1.5vmin;
          }
        }
      }
    }

    thead {
      tr {
        th {
          vertical-align: middle;
          color: #fff;
          background-color: #d8a662;
          padding: 0.75rem .5rem;
        }
      }
    }

    tbody {

      td {
        vertical-align: middle;
        padding: 0.75rem .5rem;
      }
    }

    tfoot {
      th {
         padding: 1vmin 0.25vmin;
      }
    }
  }

  .info-wrapper {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 150px;
    min-width: 300px;
    width: 80%;

    table {
      text-align: left;

      .first {
        text-align: right;
      }
    }
  }

  .table-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
        height: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #d8a662;
        border-radius: 0;
    }

    &::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: transparent;
    }
  }
}
</style>
