<template>
  <section class="ir-content-type-archive-wrapper">
    <div class="filter-wrapper">
      <div class="row">
        <div class="col-6 col-sm-5">
          <BaseBtnList
            :options="filter.press.options"
            :selected-values="filter.press.selected"
            @selectedBtn="setPress"
            dir="down"
          />
        </div>
        <div class="col-6 col-sm-5 offset-sm-2">
          <BaseBtnList
            :options="filterYears"
            :selected-values="filter.year.selected"
            @selectedBtn="setYear"
            dir="down"
          />
        </div>
      </div>
    </div>
    <div class="archive-list">
      <input v-model="searchQuery" type="text" placeholder="Sök här...">
      <!-- <IrCisionArchiveCard v-for="(release , i) in releasesFormated" :key="i" :release="release" /> -->
      <!-- {{ content.Releases[1].Title }} -->
      <div v-for="(release , i) in searchResult" :key="i" :release="release">
        {{ release.Title }}
      </div>
    </div>
  </section>
</template>

<script>
import BaseBtnList from '~/components/BaseBtnList.vue'
// import IrCisionArchiveCard from '~/components/IrCisionArchiveCard.vue'

export default {
  components: {
    BaseBtnList
    // IrCisionArchiveCard
  },
  props: {
    content: {
      type: [Object, String, Boolean]
    }
  },
  data() {
    return {
      filter: {
        press: {
          options: [
            { value: 'all', slug: 'all', text: this.$t('component.ir.contentTypeCisionArchive.type.options[0]') },
            { value: true, slug: true, text: this.$t('component.ir.contentTypeCisionArchive.type.options[1]') },
            { value: false, slug: false, text: this.$t('component.ir.contentTypeCisionArchive.type.options[2]') }
          ],
          selected: [{ value: 'all', slug: 'all', text: this.$t('component.ir.contentTypeCisionArchive.type.options[0]') }]
        },
        year: {
          options: [
            { value: false, slug: false, text: this.$t('component.ir.contentTypeCisionArchive.year.options[0]') }

          ],
          selected: [{ value: false, slug: false, text: this.$t('component.ir.contentTypeCisionArchive.year.options[0]') }]
        }
      },
      allReleases: [],
      searchQuery: ''
    }
  },
  computed: {
    filterYears() {
      const res = this.filter.year.options
      const currentYear = new Date().getFullYear()
      const fromYear = 2019
      for (let i = currentYear; i >= fromYear; i--) {
        res.push({ value: i.toString(), slug: i.toString(), text: i.toString() })
      }
      return res
    },
    releasesFormated() {
      const res = []

      let pressValid = true
      let yearValid = true

      if (this.content) {
        this.content.Releases.forEach((release) => {
          if (this.filter.press.selected[0].value !== 'all') {
            pressValid = false

            if (this.filter.press.selected[0].value === release.IsRegulatory) {
              pressValid = true
            }
          }

          if (this.filter.year.selected[0].value) {
            yearValid = false

            if (this.filter.year.selected[0].value === new Date(release.PublishDate).getFullYear().toString()) {
              yearValid = true
            }
          }

          if (pressValid && yearValid) {
            res.push(release)
          }
        })
      }

      return res
    },
    searchResult() {
      const value = this.searchQuery.toLowerCase()
      const reactiveArray = this.content.Releases.filter(function (release) {
        return release.Title.toLowerCase().indexOf(value) > -1
      })
      if (reactiveArray.length > 0) {
        console.log(reactiveArray)
        return reactiveArray
      } else {
        return this.allReleases
      }
    }
  },
  methods: {
    setPress(val) {
      this.filter.press.selected = [val]
    },
    setYear(val) {
      this.filter.year.selected = [val]
    }
  }
}
</script>

<style lang="scss">
.ir-content-type-archive-wrapper {
  margin-top: 45px;
  max-width: 900px;

  .filter-wrapper {
    margin-bottom: 55px;
  }

}
</style>
