<template>
  <section class="ir-content-type-wordpress-content-wrapper">
    <h1 class="h3">
      {{ content.post_title }}
    </h1>
    <div class="content-wrapper">
      <div v-html="content.post_content" class="content" />
      <div v-if="vimeo && vimeo.ids.length > 0 && vimeo.pos === 'before'" class="vimeos-wrapper">
        <BaseVimeo
          :key="key"
          v-for="(id, key) in vimeo.ids"
          :id="id"
        />
      </div>

      <div v-if="content.custom_fields.files && content.custom_fields.files.length > 0" class="files-wrapper">
        <h2 v-if="content.custom_fields.files_title !== ''" class="font-weight-bold">
          {{ content.custom_fields.files_title }}
        </h2>
        <div v-if="useFilesFilter && filter.year.selected">
          <BaseBtnList
            :options="filter.year.options"
            :selected-values="[filter.year.selected]"
            @selectedBtn="setYear"
            class="mb-4 mt-2"
            dir="down"
          />

          <BaseFileList
            v-if="filter.year.selected && filter.year.selected.value === 'all'"
            :files="formatFiles(content.custom_fields.files)"
          />

          <BaseFileList
            v-else-if="filter.year.selected && splitFilesInToYear(content.custom_fields.files)[filter.year.selected.value]"
            :files="formatFiles(splitFilesInToYear(content.custom_fields.files)[filter.year.selected.value])"
          />

          <div v-else>
            {{ $t('component.ir.contentTypeWordpressContent.files.404') }}
          </div>
        </div>
        <div v-else>
          <BaseFileList :files="formatFiles(content.custom_fields.files)" />
        </div>
      </div>

      <div v-if="vimeo && vimeo.ids.length > 0 && vimeo.pos === 'after'" class="vimeos-wrapper">
        <BaseVimeo
          :key="key"
          v-for="(id, key) in vimeo.ids"
          :id="id"
        />
      </div>
    </div>

    <IrWordpressPepoleList v-if="content.custom_fields.ledning_styrelse_revisor" :pepole-list="content.custom_fields.ledning_styrelse_revisor" />

    <IrWordpressCalendarList v-if="content.custom_fields.calendar" :calendar-list="reverse(content.custom_fields.calendar)" />
  </section>
</template>

<script>
import BaseFileList from '~/components/BaseFileList.vue'
import BaseVimeo from '~/components/BaseVimeo.vue'
import IrWordpressPepoleList from '~/components/IrWordpressPepoleList.vue'
import IrWordpressCalendarList from '~/components/IrWordpressCalendarList.vue'

export default {
  components: {
    BaseFileList,
    BaseVimeo,
    IrWordpressPepoleList,
    IrWordpressCalendarList
  },
  props: {
    content: {
      default: '',
      type: [String, Object, Boolean]
    }
  },
  data() {
    return {
      filter: {
        year: {
          options: [],
          selected: null
        }
      }
    }
  },
  computed: {
    useFilesFilter() {
      return this.$route.name.includes('for-investerare-finansiella-rapporter_') || this.$route.name.includes('bolagsstyrning-bolagsstamma_')
    },
    currentPage() {
      let res = false

      if (this.$route.name.includes('for-investerare-finansiella-rapporter_')) {
        res = 'finansiellaRapporter'
      } else if (this.$route.name.includes('bolagsstyrning-bolagsstamma_')) {
        res = 'bolagsstamma'
      }

      return res
    },
    vimeo() {
      const vimeo = this.content.custom_fields.vimeo

      let res = {
        pos: false,
        ids: []
      }

      if (vimeo) {
        res = {
          pos: vimeo.before_or_after_files,
          ids: (vimeo.vimeo_id_v2) ? vimeo.vimeo_id_v2.map(vimeo => vimeo.vimeo_id) : ((vimeo.vimeo_id && vimeo.vimeo_id !== '') ? [vimeo.vimeo_id] : [])
        }
      }

      return res
    }
  },
  created() {
    const options = this.yearsFromFiles()
    this.filter.year.options = options
    const thisYear = new Date().getFullYear()
    const thisYearOptions = options.find(option => Number(option.value) === thisYear)

    if (thisYearOptions) {
      this.filter.year.selected = thisYearOptions
    } else {
      this.filter.year.selected = { value: 'all', slug: 'all', text: this.$t('component.ir.contentTypeWordpressContent.files.' + this.currentPage + '.all') }
    }
  },
  methods: {
    yearsFromFiles() {
      const files = this.content.custom_fields.files
      const currentPage = this.currentPage

      const res = [{ value: 'all', slug: 'all', text: this.$t('component.ir.contentTypeWordpressContent.files.' + currentPage + '.all') }]

      if (files) {
        const filesByYear = this.splitFilesInToYear(files)

        if (filesByYear) {
          Object.keys(filesByYear).reverse().forEach((item) => {
            res.push({ value: item, slug: item, text: this.$t('component.ir.contentTypeWordpressContent.files.' + currentPage + '.option') + ' ' + item })
          })
        }
      }

      return res
    },
    setYear(val) {
      this.filter.year.selected = val
    },
    reverse(array) {
      const res = []
      array.forEach((item) => {
        if (item.name !== '') {
          res.push(item)
        }
      })

      return res.reverse()
    },
    splitFilesInToYear(files) {
      const res = {}
      files.forEach((file) => {
        if (file && file.file) {
          if (file.category) {
            /* const d = file.date.split(/[- :]/)
            const year = new Date(d[0], d[1] - 1, d[2], d[3], d[4], d[5]).getFullYear() */

            file.category.forEach((category) => {
              const year = category.name

              if (!res[year]) {
                res[year] = []
              }

              res[year].push(file)
            })
          } else {
            if (!res.date_not_set) {
              res.date_not_set = []
            }

            res.date_not_set.push(file)
          }
        }
      })

      return res
    },
    formatFiles(files) {
      const res = []
      files.forEach((file) => {
        res.push({
          title: file.file.title,
          url: file.file.link,
          date: file.date
        })
      })

      return res
    }
  }
}
</script>

<style>
.ir-content-type-wordpress-content-wrapper {
  margin-top: 105px;
}
</style>
