<template>
  <section v-if="content" class="ir-content-type-content-wrapper">
    <div class="sub-title text-primary text-uppercase">
      {{ formatDate(content['Release']['PublishDate']) }}
    </div>
    <h1 class="h3">
      {{ content['Release']['Title'] }}
    </h1>
    <div class="content-wrapper">
      <div v-html="content['Release']['HtmlIntro']" class="intro" />
      <div v-html="content['Release']['HtmlBody']" class="content" />

      <div v-if="content['Release']['Images'].length > 0" class="gallery">
        <img v-for="(images, i) in content['Release']['Images']" :key="i" :src="images['UrlTo800x800ArResized']" class="gallery-item">
      </div>

      <div v-if="content['Release']['Files'].length > 0" class="files-wrapper">
        <div class="h5">
          {{ $t('component.ir.contentTypeCisionContent.docks') }}
        </div>
        <BaseFileList :files="formatFiles(content['Release']['Files'])" />
      </div>

      <hr>
    </div>
  </section>
</template>

<script>
import BaseFileList from '~/components/BaseFileList.vue'

export default {
  components: {
    BaseFileList
  },
  props: {
    content: {
      type: [Object, String]
    }
  },
  methods: {
    formatFiles(files) {
      const res = []
      files.forEach((file) => {
        res.push({
          title: file.Title,
          url: file.Url,
          date: file.CreateDate
        })
      })

      return res
    }
  }
}
</script>

<style lang="scss">
.ir-content-type-content-wrapper {
  max-width: 800px;
  margin-top: 70px;

  .sub-title {
    margin-bottom: 16px;
  }

  .h3 {
    margin-bottom: 36px;
  }

  .content {
    margin-bottom: 40px;
    overflow-x: scroll;
  }

  .gallery {
    .gallery-item {
      margin-bottom: 40px;
      max-width: 100%;
    }
  }
}
</style>
