<template>
  <section v-if="content" class="ir-content-type-wordpress-content-filter-wrapper">
    <h1 class="h1">
      {{ content.post_title }}
    </h1>
    <div class="content-wrapper">
      <transition-group name="fade">
        <div key="before-dropdown" v-if="isCountryValid === null" class="before-dropdown">
          <div v-html="content.custom_fields.text_before_dropdown" class="content" />
          <div class="input-wrapper">
            <div class="input-inner">
              <label>{{ $t('component.ir.contentTypeWordpressContentFilter.livein.label') }} </label>
              <b-form-select v-model="country.from" :placeholder="$t('component.ir.contentTypeWordpressContentFilter.livein.placeholder') + '...'" :options="countryFromList" />
            </div>
          </div>
          <div class="input-wrapper mt-2">
            <div class="input-inner">
              <label>{{ $t('component.ir.contentTypeWordpressContentFilter.isin.label') }}</label>
              <b-form-select v-model="country.current" :placeholder="$t('component.ir.contentTypeWordpressContentFilter.livein.placeholder') + '...'" :options="countryCurrentList" />
            </div>
          </div>
        </div>

        <div key="if-valid" v-if="isCountryValid && consent === null" class="if-valid">
          <div v-html="content.custom_fields.text_if_valid" class="content" />
          <div class="row mt-5">
            <div class="col-5">
              <b-button @click="consent = true" variant="dark">
                {{ $t('component.ir.contentTypeWordpressContentFilter.confirm') }}
              </b-button>
            </div>
            <div class="col-5 offset-2">
              <b-button @click="consent = false" block variant="dark">
                {{ $t('component.ir.contentTypeWordpressContentFilter.deny') }}
              </b-button>
            </div>
          </div>
        </div>
        <div key="if-invalid" v-if="isCountryValid === false || consent === false" class="if-invalid">
          <div v-html="content.custom_fields.text_if_invalid" class="content" />
        </div>

        <div key="pdf-list" v-if="isCountryValid && consent === true" class="pdf-list content">
          <BaseFileList :files="formatFiles(content.custom_fields.files)" />
        </div>
      </transition-group>
    </div>
  </section>
</template>

<script>
import BaseFileList from '~/components/BaseFileList.vue'

export default {
  components: {
    BaseFileList
  },
  props: {
    content: {
      default: '',
      type: [String, Object, Boolean]
    }
  },
  data() {
    return {
      country: {
        from: null,
        current: null
      },
      consent: null
    }
  },
  computed: {
    isCountryValid() {
      return (this.country.from && this.country.current)
    },
    countryFromList() {
      const res = []
      res.push({ text: this.$t('component.ir.contentTypeWordpressContentFilter.livein.placeholder') + '...', value: null })

      this.content.custom_fields.current_country_options.forEach((option) => {
        res.push({ text: option.option, value: option.valid })
      })

      return res
    },
    countryCurrentList() {
      const res = []
      res.push({ text: this.$t('component.ir.contentTypeWordpressContentFilter.isin.placeholder') + '...', value: null })

      this.content.custom_fields.from_country_options.forEach((option) => {
        res.push({ text: option.option, value: option.valid })
      })

      return res
    }
  },
  methods: {
    formatFiles(files) {
      const res = []
      files.forEach((file) => {
        res.push({
          title: file.file.title,
          url: file.file.link,
          date: file.date
        })
      })

      return res
    }
  }
}
</script>

<style lang="scss">
.ir-content-type-wordpress-content-filter-wrapper {
  margin-top: 105px;

  select, select option {
    color: #000 !important;
  }

  .content-wrapper {
    max-width: 800px;
    margin-bottom: 200px;
    position: relative;

    .content {
      margin-top: 60px;
    }
  }

  .input-wrapper {
    color: #fff;
    background-color: #191924;
  }

  .btn-dark {
    width: inherit;
  }

  .fade-enter-active, .fade-leave-active {

    position: absolute;
    top: 0;
  }

}
</style>
