<template>
  <section class="ir-content-type-special-wrapper">
    <h1 class="h2">
      {{ content.post_title }}
    </h1>
    <div class="content-wrapper">
      <div v-html="content.post_content" class="content" />

      <div class="section">
        <h2 class="h3">
          <nuxt-link :to="$t('component.ir.contentTypeCisionSpecial.press.url')">
            {{ $t('component.ir.contentTypeCisionSpecial.press.title') }}
          </nuxt-link>
        </h2>
        <div class="content">
          <IrCisionArchiveCard v-if="cisionLatest" :release="cisionLatest" />

          <nuxt-link :to="$t('component.ir.contentTypeCisionSpecial.press.url')" class="readmore">
            {{ $t('component.ir.contentTypeCisionSpecial.press.readmore') }}
            <svg-icon name="angle-right" />
          </nuxt-link>
        </div>
      </div>

      <div class="section">
        <h2 class="h3">
          <nuxt-link :to="$t('component.ir.contentTypeCisionSpecial.reports.url')">
            {{ $t('component.ir.contentTypeCisionSpecial.reports.title') }}
          </nuxt-link>
        </h2>
        <div class="content">
          <BaseFileList v-if="reports" :files="formatFiles([reports])" />

          <nuxt-link :to="$t('component.ir.contentTypeCisionSpecial.reports.url')" class="readmore">
            {{ $t('component.ir.contentTypeCisionSpecial.reports.readmore') }}
            <svg-icon name="angle-right" />
          </nuxt-link>
        </div>
      </div>

      <div class="section">
        <BaseFinancalCalendar timeframe="future" />

        <nuxt-link :to="$t('component.ir.contentTypeCisionSpecial.calendar.url')" class="readmore">
          {{ $t('component.ir.contentTypeCisionSpecial.calendar.readmore') }}
          <svg-icon name="angle-right" />
        </nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
import BaseFileList from '~/components/BaseFileList.vue'
import BaseFinancalCalendar from '~/components/BaseFinancalCalendar.vue'
import IrCisionArchiveCard from '~/components/IrCisionArchiveCard.vue'

export default {
  components: {
    BaseFileList,
    IrCisionArchiveCard,
    BaseFinancalCalendar
  },
  props: {
    content: {
      default: '',
      type: [String, Object, Boolean]
    }
  },
  computed: {
    cisionLatest() {
      if (!this.$store.getters['cision/getCisionSummary']) {
        this.$store.dispatch({ type: 'cision/getCisionSummary', page: this.getPageId, detailLevel: 'medium' })
      }

      return (this.$store.getters['cision/getCisionSummary']) ? this.$store.getters['cision/getCisionSummary'].Releases[0] : false
    },

    reports() {
      const path = (this.$store.state.i18n.locale === 'en') ? 'financial-reports' : 'finansiella-rapporter'

      if (!this.$store.getters.getPage['page/' + path]) {
        this.$store.dispatch({ type: 'getPage', path, postType: 'page' })
      }

      return (this.$store.getters.getPage['page/' + path] && this.$store.getters.getPage['page/' + path].custom_fields.files.length > 0) ? this.$store.getters.getPage['page/' + path].custom_fields.files[0] : false
    }
  },
  methods: {
    formatFiles(files) {
      const res = []
      files.forEach((file) => {
        res.push({
          title: file.file.title,
          url: file.file.link,
          date: file.date
        })
      })

      return res
    }
  }
}
</script>

<style lang="scss">
.ir-content-type-special-wrapper {
  margin-top: 105px;

  .section {
    margin: 95px 0;

    .file-list-wrapper, .calendar-list-wrapper {
      margin-bottom: 15px;
    }

    .content {
      margin-bottom: 25px;
    }

    .archive-footer {
      display: none;
    }
  }

  .h3 a {
    color: inherit;
  }
}
</style>
