<template>
  <section v-if="navigation && navigation.length > 0" class="ir-navbar-wrapper">
    <div class="nav h6">
      <div v-for="(navItem, i) in navigation" :key="i" class="nav-item">
        <nuxt-link :to="'/' + currentParent + '/' + navItem.post_name">
          {{ navItem.post_title }}
        </nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  components: {

  },
  props: {
    navigation: {
      type: [Array, Boolean]
    }
  },
  computed: {
    currentParent() {
      const noLang = this.$route.path.replace('/en/', '/')
      const path = noLang.split('/')[1]

      return (this.$store.state.i18n.locale !== 'sv') ? this.$store.state.i18n.locale + '/' + path : path
    }
  }
}
</script>

<style lang="scss">
.ir-navbar-wrapper {
  box-shadow: 0 10px 50px 0 rgba(0,0,0,0.1);
  background-color: #f1f1f1;

  .nav {
    overflow: hidden;
    align-items: center;
    justify-content: center;

    @media (max-width: 991.98px) {
        flex-wrap: unset;
        overflow-x: scroll;
        justify-content:  unset;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        &::-webkit-scrollbar:horizontal {
            height: 0.5em;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #d8a662;
            border-radius: 0;
        }

        &::-webkit-scrollbar-track {
            border-radius: 0;
            background-color: transparent;
        }
      }

    .nav-item{

      text-align: center;
      width: 12.5%;
      min-width: 150px;
      display: block;

      @media (max-width: 991.98px) {
        min-width: 170px;
      }

       a {
        display: block;
        width: 100%;
        color: #9d9d9d;
        padding: 36px 0;

        @media (max-width: 991.98px) {

          padding: 36px 16px;
        }

        &.nuxt-link-active {
          color: #000;
        }
      }
    }
  }
}
</style>
