<template>
  <section class="ir-sidebar-wrapper">
    <div v-if="contact" class="contact-wrapper">
      <div class="title h3 text-right">
        {{ $t('component.ir.sidebar.contactTitle') }}
      </div>
      <div class="contact">
        <div class="h5">
          {{ contact.post_title }}
        </div>
        <ul class="list-unstyled">
          <li v-if="contact.custom_fields.phone">
            <a :href="'Tel:' + contact.custom_fields.phone"> <svg-icon name="phone" /> {{ contact.custom_fields.phone }}</a>
          </li>
          <li v-if="contact.custom_fields['e-mail']">
            <a :href="'Mailto:' + contact.custom_fields['e-mail']"><svg-icon name="envelope" /> {{ contact.custom_fields['e-mail'] }}</a>
          </li>
        </ul>
      </div>
    </div>

    <div v-if="navigation && navigation.length > 0" class="navigation-wrapper">
      <div class="title h3">
        {{ $t('component.ir.sidebar.navTitle') }}
      </div>
      <div class="contact">
        <ul class="list-unstyled">
          <li v-for="(navItem, i) in navigation" :key="i">
            <nuxt-link :to="'/' + currentParent + '/' + navItem.post_name">
              {{ navItem.post_title }}
            </nuxt-link>
          </li>
        </ul>
      </div>
    </div>

    <div class="newsletter-wrapper">
      <div class="title h3">
        {{ $t('component.ir.sidebar.subscribeTitle') }}
      </div>
      <div class="contact">
        <IrSidebarForm />
      </div>
    </div>
  </section>
</template>

<script>
import IrSidebarForm from '~/components/IrSidebarForm.vue'

export default {
  components: {
    IrSidebarForm
  },
  props: {
    contact: {
      type: [Object, Boolean]
    },
    navigation: {
      type: [Array, Boolean]
    }
  },
  computed: {
    currentParent() {
      const noLang = this.$route.path.replace('/en/', '/')
      const path = noLang.split('/')[1]

      return (this.$store.state.i18n.locale !== 'sv') ? this.$store.state.i18n.locale + '/' + path : path
    }
  }
}
</script>

<style lang="scss">
.ir-sidebar-wrapper {

  .newsletter-wrapper {
    margin-top: 60px;
  }

  .title {
    margin-bottom: 0px;
    color: #9d9d9d;
  }

  .contact {
    background-color: #191924;
    position: relative;
    padding: 25px 35px;
    color: #fff;

    &:after {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      content: ' ';
      border-style: solid;
      border-width: 2px;
      border-image-source: linear-gradient(113deg, #af7a3b, #e8b86a 53%, #af7a3b);
      border-image-slice: 1;
      pointer-events: none;

    }

    .list-unstyled {
      margin: 0;

      li {
        margin-bottom: 15px;

        a {
          color: #fff;

          &:hover {
            color: unset;
          }
        }

        svg {
          fill: #fff;
          width: 25px;
          height: 25px;
          margin-right: 5px;
        }
      }
    }
  }

  .contact-wrapper, .navigation-wrapper {
    margin-top: 80px;

  }

  .navigation-wrapper {
    .list-unstyled {
      margin: 0;

      li:not(:last-of-type) {
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-image-source: linear-gradient(113deg, #af7a3b, #e8b86a 53%, #af7a3b);
        border-image-slice: 1;
        margin: 0;

         @media (max-width: 767.98px) {
          border: none;
          border-bottom: solid 2px #af7a3b;
        }
      }

      a {
        display: block;
        padding: 15px 5px ;
      }
    }
  }
}
</style>
