<template>
  <form @submit.prevent="onSubmit" class="ir-sidebar-form-wrapper h6">
    <div class="row">
      <div class="col-12 text-center my-3">
        <div class="sub-title mb-3">
          {{ $t('component.ir.sidebarForm.title') }}
        </div>
        {{ $t('component.ir.sidebarForm.subTitle') }}
      </div>
    </div>

    <div :class="['row res-good', {'opacity-100': res && res.status === 200 }]">
      <div class="col-12">
        <div>
          {{ $t('component.ir.sidebarForm.res.good') }}
        </div>
      </div>
    </div>

    <div :class="['row', {'opacity-0': res && res.status === 200 }]">
      <div v-for="(type, i) in form.types" :key="i" class="col-12">
        <div
          :class="
            [
              'checkbox-wrapper'
            ]
          "
        >
          <div class="checkbox-inner">
            <b-form-checkbox

              v-model="type.val"
              :value="true"
              :unchecked-value="false"
            >
              {{ type.label }}
            </b-form-checkbox>
          </div>
        </div>
      </div>
      <div class="col-12">
        <BaseFormInput :input="form.name" @inputChange="saveToValue" type="name" />
      </div>

      <div class="col-12">
        <BaseFormInput :input="form.email" @inputChange="saveToValue" type="email" />
      </div>
      <div class="col-12">
        <div
          :class="
            [
              'input-wrapper',
              {'valid': form.lang.value && form.lang.valid},
              {'invalid': form.lang.value && !form.lang.valid}
            ]
          "
        >
          <div class="input-inner">
            <label>{{ form.lang.label }}</label>
            <b-form-select v-model="form.lang.value" :placeholder="form.lang.placeholder" :options="form.lang.options" />
          </div>
        </div>
      </div>
    </div>
    <div :class="['row', {'opacity-0': res && res.status === 200 }]">
      <div class="col-12">
        <div
          :class="
            [
              'checkbox-wrapper',
              'mb-3',
              {'invalid' : isFormValid === false && !form.gdpr}
            ]
          "
        >
          <div class="checkbox-inner">
            <div v-html="$t('component.ir.sidebarForm.gdpr')" class="description mb-3" />
            <b-form-checkbox

              v-model="form.gdpr.value"
              :value="true"
              :unchecked-value="false"
            >
              <span v-html="$t('component.ir.sidebarForm.gdprLabel')" />
            </b-form-checkbox>
          </div>
        </div>
        <recaptcha />
        <div class="form-footer mt-3">
          <b-button variant="dark" block type="submit">
            {{ $t('component.ir.sidebarForm.send') }}
          </b-button>
          <div v-if="res && res.status === 400" class="error mt-3">
            {{ $t('component.ir.sidebarForm.res.bad') }}
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import BaseFormInput from '~/components/BaseFormInput.vue'

export default {
  components: {
    BaseFormInput
  },
  data() {
    return {
      newsletterRes: false,
      res: undefined,
      isFormValid: undefined,
      form: {
        gdpr: {
          value: false
        },
        types: [
          {
            val: true,
            shortcode: 'KMK',
            label: this.$t('component.ir.sidebarForm.form.types[0]')
          },
          {
            val: true,
            shortcode: 'RPT,RDV',
            label: this.$t('component.ir.sidebarForm.form.types[1]')
          },
          {
            val: true,
            shortcode: 'PRM',
            label: this.$t('component.ir.sidebarForm.form.types[2]')
          }
        ],
        name: {
          value: undefined,
          valid: true,
          placeholder: this.$t('component.ir.sidebarForm.form.name.placeholder'),
          label: this.$t('component.ir.sidebarForm.form.name.label')
        },
        email: {
          value: undefined,
          valid: true,
          placeholder: this.$t('component.ir.sidebarForm.form.email.placeholder'),
          label: this.$t('component.ir.sidebarForm.form.email.label')
        },
        lang: {
          value: this.$t('component.ir.sidebarForm.form.lang.default'),
          valid: true,
          placeholder: this.$t('component.ir.sidebarForm.form.lang.placeholder'),
          label: this.$t('component.ir.sidebarForm.form.lang.label'),
          options: [
            { value: 'sv', text: 'Svenska' },
            { value: 'en', text: 'English' }
          ]
        }
      }
    }
  },
  methods: {
    async onSubmit(test) {
      const form = this.form

      // Validate
      const valid = {
        cat: false,
        fields: false
      }

      if (this.isDataValid(['email', 'lang', 'name', 'gdpr'])) {
        valid.fields = true
      }

      const types = this.formatTypes(form.types)

      if (types) {
        valid.cat = true
      }

      // Validate end

      if (valid.fields && valid.cat) {
        const token = await this.getToken()

        if (token) {
          const data = [
            { name: 'subscriptionUniqueIdentifier', value: '18c41d64c6' },
            { name: 'Replylanguage', value: form.lang.value },
            { name: 'language', value: form.lang.value },
            { name: 'informationtype', value: types.join() },
            { name: 'name', value: form.name.value },
            { name: 'Email', value: form.email.value },
            { name: 'g-recaptcha-response', value: token }
          ]

          const searchParams = data.map((key) => {
            return key.name + '=' + key.value
          }).join('&')

          // Cat get Axios to work
          const xhr = new XMLHttpRequest()

          xhr.open('POST', 'https://publish.ne.cision.com/Subscription/SubscribeWithCaptcha')
          xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
          xhr.onload = () => {
            this.res = {
              responseText: xhr.responseText,
              status: xhr.status
            }
          }
          xhr.send(encodeURI(searchParams))
        }
      }
    },

    async getToken() {
      try {
        const token = await this.$recaptcha.getResponse()
        return token
      } catch (error) {
        console.log('Login error:', error)
        return null
      }
    },
    isDataValid(labels) {
      let res = true
      labels.forEach((key) => {
        const input = this.form[key]

        if (!input.value) {
          this.form[key].valid = false
          res = false
        }
      })
      return res
    },
    formatTypes(data) {
      const res = []

      data.forEach((d) => {
        if (d.val) {
          res.push(d.shortcode)
        }
      })

      return res
    },
    saveToValue(value) {
      this.form[value[1]].value = value[0]
    }
  }
}
</script>

<style lang="scss">
.ir-sidebar-form-wrapper {
  position: relative;

  .res-good {
    opacity: 0;
    transition: 0.4s;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }

  .opacity-100 {
    opacity: 1;
  }

  .g-recaptcha {
    overflow: hidden;
  }

  .opacity-0 {
    opacity: 0;
  }

  .sub-title {
    color: #9d9d9d;
  }

  .row {
    >* {
      margin-bottom: 32px;
    }
  }
}
</style>
