<template>
  <section class="mt-5 ir-wordpress-calendar-list-wrapper">
    <div class="section">
      <h2 class="h4">
        {{ $t('component.ir.wordpressCalendarList.title') }}
      </h2>
      <BaseCalendarList :calendar-items="formatCalendarList.comming" />
    </div>

    <div v-for="(item, i) in Object.keys(formatCalendarList.archive).reverse()" :key="i" class="section">
      <h2 class="h4">
        {{ $t('component.ir.wordpressCalendarList.order') }} {{ item }}
      </h2>
      <BaseCalendarList :calendar-items="formatCalendarList.archive[item]" />
    </div>
  </section>
</template>

<script>
import BaseCalendarList from '~/components/BaseCalendarList.vue'

export default {
  components: {
    BaseCalendarList
  },
  props: {
    calendarList: {
      default: false,
      type: [Array, Boolean]
    }
  },
  computed: {
    currentDate() {
      return new Date()
    },

    formatCalendarList() {
      const res = {
        comming: [],
        archive: {}
      }
      const debug = false

      const calendarList = JSON.parse(JSON.stringify(this.calendarList))

      calendarList.forEach((calendarItem) => {
        if (calendarItem.date) {
          const d = calendarItem.date.split(/[- :]/)

          calendarItem.date = calendarItem.date.replace(' 00:00', '')

          if (debug) {
            console.log('DateOrg: ' + calendarItem.date)
          }

          const months = this.$t('global.months')

          const itemDate = new Date(d[2], months.indexOf(d[1]), d[0])

          calendarItem.date = itemDate.getDate() + ' ' + months[itemDate.getMonth()] + ' ' + itemDate.getFullYear()
          calendarItem.dateRaw = (itemDate.getMonth() + 1) + '/' + itemDate.getDate() + '/' + itemDate.getFullYear()

          if (debug) {
            console.log('Date: ' + new Date(calendarItem.date))
            console.log('DateRaw: ' + new Date(calendarItem.dateRaw))
          }

          if (itemDate.toString() !== 'Invalid Date') {
            if (itemDate > this.currentDate) {
              res.comming.push(calendarItem)
            } else {
              if (!res.archive[itemDate.getFullYear()]) {
                res.archive[itemDate.getFullYear()] = []
              }

              res.archive[itemDate.getFullYear()].push(calendarItem)
            }
          }
        }
      })

      res.comming.sort((a, b) => (new Date(a.dateRaw) < new Date(b.dateRaw)) ? 1 : ((new Date(b.dateRaw) < new Date(a.dateRaw)) ? -1 : 0)).reverse()

      if (res.archive) {
        Object.keys(res.archive).forEach((key) => {
          res.archive[key] = res.archive[key].sort((a, b) => (new Date(a.dateRaw) < new Date(b.dateRaw)) ? 1 : ((new Date(b.dateRaw) < new Date(a.dateRaw)) ? -1 : 0))
        })
      }

      return res
    }
  }
}
</script>

<style lang="scss">
.ir-wordpress-calendar-list-wrapper {

}
</style>
