<template>
  <section class="ir-wordpress-pepole-list-wrapper">
    <div v-if="pepoleList.length > 0" class="pepole-list">
      <div v-for="(person, i) in pepoleList" :key="i" class="pepole-item">
        <div class="row">
          <div v-if="person.featured_image" class="col-12 col-sm-4">
            <div :style="{'background-image': 'url('+ person.featured_image[getImageSize('tablet')] +')' }" class="background-image" />
          </div>
          <div class="col-12 col-sm-8">
            <div class="pepole-desc-wrapper">
              <h2 class="h5">
                {{ person.post_title }}
              </h2>
              <div class="sub-title text-uppercase">
                {{ person.custom_fields.title }}
              </div>
              <div v-html="person.custom_fields.cv" class="content" />
              <a :href="person.featured_image['full']" download target="_blank">Ladda ner pressfoto</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  components: {

  },
  props: {
    pepoleList: {
      default: false,
      type: [Array, Boolean]
    }
  },
  computed: {
    page() {
      return this.$route.path.replace('/bolagsstyrning/', '')
    }
  }
}
</script>

<style lang="scss">
.ir-wordpress-pepole-list-wrapper {
  .pepole-list {
    .pepole-item {
      margin-bottom: 1rem;
      .pepole-desc-wrapper {
        padding: 16px 60px;

        @media (max-width: 991.98px) {
          padding: 16px 24px;
        }

        @media (max-width: 767.98px) {

        }

        .h5 {
          margin-bottom: 0;
        }

        .sub-title {
          margin-bottom: 0.5rem;
        }

        .list-unstyled {
          margin-bottom: 0;
          li {
            margin-bottom: 10px;
          }
        }
      }

      .background-image {
        //height: 100%;
        background-size: cover;
        background-position: center;
        min-height: 500px;
      }
    }
  }
}
</style>
