<template>
  <section class="footer-wrapper">
    <div class="footer-menu">
      <div class="container">
        <div v-if="footerMenu" class="row justify-content-center">
          <div class="col-11 col-sm-12">
            <div class="row">
              <div class="col-12 col-sm-8">
                <div class="row">
                  <div v-for="(menuCol, i) in footerMenu.footer_menu" :key="i" class="col-12 col-sm-4">
                    <div class="sub-title">
                      {{ menuCol.menu_columns.column_title }}
                    </div>
                    <ul class="list-unstyled h6">
                      <li v-for="(menu_item, j) in menuCol.menu_columns.menu_items" :key="j">
                        <nuxt-link
                          v-if="menu_item && menu_item.menu_item.target === '' && sameLang(menu_item.menu_item.url)"
                          :to="menu_item.menu_item.url"
                          v-html="menu_item.menu_item.title"
                        />

                        <a
                          v-if="menu_item && (menu_item.menu_item.target !== '' || !sameLang(menu_item.menu_item.url))"
                          :href="menu_item.menu_item.url"
                          v-html="menu_item.menu_item.title"
                          :target="menu_item.menu_item.target"
                        />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div v-html="footerMenu.footer_description" class="content-wrapper" />

                <ul v-if="social" class="social">
                  <li
                    v-for="socialmediaKey in Object.keys(social)"
                    class="social-icon"
                  >
                    <a :href="social[socialmediaKey]" target="blank">
                      <img :src="'/' + socialmediaKey + '.svg'">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <CookieControl :locale="($store.state.i18n.locale !== 'sv')? 'en' : 'de'">
      <template v-slot:bar>
        <div>
          <h3>Cookies</h3>
          <p>
            {{ $t('component.the.footer.cookies.content') }}

            <nuxt-link :to="$t('component.the.footer.cookies.url')">
              {{ $t('component.the.footer.cookies.btnText') }}
            </nuxt-link>
          </p>
        </div>
      </template>
    </CookieControl>
  </section>
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  components: {

  },
  computed: {
    footerMenu() {
      /* if (!this.$store.getters.getMenus.small_menu || !this.$store.getters.getMenus.big_menu) {
        this.$store.dispatch({ type: 'getOptions' })
      } */

      return this.$store.getters.getMenus.footer_menu
    },
    social() {
      return this.$store.getters.getOptions.socialmedia
    }

  },
  methods: {
    sameLang(url) {
      const lang = this.$store.state.i18n.locale

      const containsEn = url.includes('/en/')

      if (lang === 'en' && containsEn) {
        return true
      }

      if (lang === 'sv' && !containsEn) {
        return true
      }

      return false
    }
  }
}
</script>

<style lang="scss">
.footer-wrapper {

  ul.social {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    @media (max-width: 767.98px) {
      justify-content: center;
    }
    li {
      width: 50px;
      height: 50px;
      list-style: none;
      margin-right: 2rem;
      @media (max-width: 767.98px) {
        margin: 0 1rem;
      }
      * {
        margin: 0 !important;
      }
      a {

        &:hover svg {
          opacity: 0.8;
        }
        svg {
          width: 50px;
          height: 50px;
          position: relative;
          fill: #191924;
          transition: all ease 250ms;
          @media (max-width: 960px) {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }

  .footer-menu {
    position: relative;

    background-color: #f1f1f1;
    padding: 80px 0;

    @media (max-width: 575.98px) {
      margin-left: 0px;
      margin-top: 115px;
    }

    .sub-title {
      margin-bottom: 16px;
      text-decoration: underline;
      text-transform: uppercase;
    }

    .list-unstyled {
      li {
        margin-bottom: 26px;
        a {
          color: #000;

        }
      }
    }
  }

  .cookieControl__BarContainer {
    @media (max-width: 575.98px) {
      display: block;
    }
  }

  .cookieControl__Bar {
    background-color: #191924;
    color: #fff;

    h3 {
      font-family: Arial;
      font-size: 1.777rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: 0.278rem;
      text-transform: uppercase;
    }

    p {
      font-size: 1rem;
    }

    .cookieControl__BarButtons {

      @media (max-width: 575.98px) {
        width: 100%;
      }

      button {
        cursor: pointer;
        color: #fff;
        background-color: #191924;
        font-family: Georgia;
        font-size: 1rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: 0.0112rem;
        text-align: center;
        border: none;
        border-radius: 0;

        &:hover {
          color: #fff;
          background-color: #09090d;
        }

        @media (max-width: 575.98px) {
          width: 50%;
          margin: 0;
          font-size: 0.9rem;
        }

        height: 60px;
        width: 250px;
        position: relative;

        &:after {
          content: ' ';
          position: absolute;
          top: 3px;
          left: 3px;
          right: 3px;
          bottom: 3px;
          border-style: solid;
          border-width: 2px;
          border-image-source: linear-gradient(113deg, #af7a3b, #e8b86a 53%, #af7a3b);
          border-image-slice: 1;
          pointer-events: none;
        }

      }

    }
  }
}
</style>
