<template>
  <header class="header-wrapper" role="banner">
    <div :class="['header-sidebar', {'scrolled' : isMobile() && scrolled() > 115}]">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <a :href="($store.state.i18n.locale == 'en')? '/en' : '/'">
              <svg-icon name="k-fast" class="logo" />
            </a>
          </div>
          <div class="col-6 ">
            <div class="content-right">
              <div v-if="isNotPost" class="toggle-lang d-none d-sm-block sub-title">
                <a :href="switchLocalePath('sv')" :class="['text-light', {'nuxt-link-exact-active' : currentLang('sv')}]">
                  SVE
                </a>
                /
                <a :href="switchLocalePath('en')" :class="['text-light', {'nuxt-link-exact-active' : currentLang('en')}]">
                  ENG
                </a>
              </div>
              <div @click="toggleSearch()" class="toggle-search">
                <svg-icon name="search" class="search" />
              </div>
              <div class="toggle-nav">
                <b-button @click="toggleMenu()" variant="primary" aria-label="Menu">
                  <svg-icon :name="(!isMenuOpen)? 'bars' : 'multiply'" class="menu" />
                </b-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <transition name="slide-up">
      <div v-if="isMenuOpen" class="header-open-wrapper">
        <div class="container-fluid">
          <div v-if="sitemap" class="search-wrapper">
            <div class="search-input-wrapper">
              <svg-icon name="Search" />
              <input ref="search" v-model="search" :placeholder="$t('component.the.header.search')+ '...'" type="text">
            </div>

            <div v-if="searchResult" class="search-result">
              <table>
                <tbody>
                  <tr v-for="(res, i) in searchResult" :key="i">
                    <td class="sub-title">
                      <nuxt-link :to="formatUrl(res)">
                        <span>{{ res.post_title }}</span>
                      </nuxt-link>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="main-menu">
            <div class="row justify-content-center">
              <div class="col-11 col-sm-12">
                <div class="row justify-content-between">
                  <div class="col-12 col-md-4 ">
                    <div v-if="isNotPost" class="toggle-lang d-block d-md-none sub-title">
                      <a :href="switchLocalePath('sv')" :class="['text-light', {'nuxt-link-exact-active' : currentLang('sv')}]">
                        SVE
                      </a>
                      /
                      <a :href="switchLocalePath('en')" :class="['text-light', {'nuxt-link-exact-active' : currentLang('en')}]">
                        ENG
                      </a>
                    </div>
                    <div v-html="headerMenu.header_description" class=" d-none d-md-block content-wrapper" />
                  </div>
                  <div class="col-12 col-md-8 col-lg-6">
                    <div v-if="headerMenu.header_menu" class="row">
                      <div v-for="(menuCol, i) in headerMenu.header_menu" :key="i" class="col-12 col-sm-4">
                        <div @click="toggleSubMenu(i)" class="sub-title offset-x">
                          <span class="text-underline">{{ menuCol.menu_columns.column_title }}</span>
                          <svg-icon :class="['d-block, d-sm-none', {'open-sm': openSubmenu === i}]" name="angle-down" />
                        </div>

                        <ul :class="['list-unstyled h6', {'open-sm': openSubmenu === i}]">
                          <li v-for="(menu_item, j) in menuCol.menu_columns.menu_items" :key="j">
                            <nuxt-link
                              v-if="menu_item && menu_item.menu_item.target === '' && sameLang(menu_item.menu_item.url)"
                              :to="menu_item.menu_item.url"
                              v-html="menu_item.menu_item.title"
                            />

                            <a
                              v-if="menu_item && (menu_item.menu_item.target !== '' || !sameLang(menu_item.menu_item.url))"
                              :href="menu_item.menu_item.url"
                              v-html="menu_item.menu_item.title"
                              :target="menu_item.menu_item.target"
                            />
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </header>
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  components: {

  },
  data() {
    return {
      isMenuOpen: false,
      search: null,
      openSubmenu: 0
    }
  },
  computed: {
    isNotPost() {
      return !this.$route.name.includes('inspiration-category')
    },
    sitemap() {
      if (!this.$store.getters.getSitemap) {
        this.$store.dispatch({ type: 'getSitemap' })
      }

      return this.$store.getters.getSitemap
    },
    searchResult() {
      if (this.search === null || this.search === '') {
        return false
      } else {
        const res = []

        if (this.sitemap) {
          this.sitemap.forEach((page) => {
            if (page.post_title.toLowerCase().includes(this.search.toLowerCase())) {
              res.push(page)
            }
          })
        }

        // if (this.pagesCustomResult) {
        //   this.pagesCustomResult.forEach((page) => {
        //     if (page.search_string.toLowerCase().includes(this.search.toLowerCase())) {
        //       if (page.page) {
        //         this.sitemap.forEach((item) => {
        //           if (item.post_name === page.page[0].post_name) {
        //             res.push(item)
        //           }
        //         })
        //       }
        //     }
        //   })
        // }

        return res.sort((a, b) => (a.post_title > b.post_title) ? 1 : ((b.post_title > a.post_title) ? -1 : 0))
      }
    },

    pagesCustomResult() {
      return this.$store.getters.getOptions.custom_pages || []
    },

    headerMenu() {
      return this.$store.getters.getMenus.header_menu || {}
    }
  },
  watch: {
    '$route'() {
      this.isMenuOpen = false
    }
  },
  methods: {
    sameLang(url) {
      const lang = this.$store.state.i18n.locale

      const containsEn = url.includes('/en/')

      if (lang === 'en' && containsEn) {
        return true
      }

      if (lang === 'sv' && !containsEn) {
        return true
      }

      return false
    },
    currentLang(lang) {
      return this.$store.state.i18n.locale === lang
    },

    toggleSearch() {
      this.isMenuOpen = true

      // this.$nextTick(() => {
      //   this.$refs.search.focus()
      // })
    },

    toggleMenu() {
      this.isMenuOpen = !this.isMenuOpen
    },

    toggleSubMenu(menuId) {
      if (this.openSubmenu === menuId) {
        this.openSubmenu = false
      } else {
        this.openSubmenu = menuId
      }
    }
  }
}
</script>

<style lang="scss">
.header-wrapper {
  z-index: 100;

  color: #fff;

  /* Stupid ass css from form */
  .nav-item {
    display: block;

    padding: 0px;
  }

  .header-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    //height: 150px;
    padding: 20px 48px;
    background-color: #552123;
    z-index: 200;
    transition: 0.2s;

    @media (max-width: 575.98px) {
      padding: 10px;
    }

    svg {
      fill: #fff;

      &.logo {
        fill: #af7a3b !important;
        height: 64px;
        width: 106px;
      }

      &.search {
        width: 25px;
        height: 25px;
      }

      &.menu {
        width: 25px;
        height: 25px;
      }
    }

    .content-right {
      text-align: right;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      margin: 0 -16px;

      >* {
        padding: 0 16px;
      }

      .toggle-lang {

      }

      .toggle-search {

      }

      .toggle-nav {

        .btn {
          padding: 0;

          width: 64px;
          height: 64px;
        }
      }

    }
  }

  .header-open-wrapper {
    position: fixed;
    top: 104px;
    left: 0px;
    right: 0;

    min-height: calc(50vh - 104px);
    z-index: 100;
    background-color: #552123;
    padding: 16px 48px;

    @media (max-width: 575.98px) {
      padding: 8px;
      top: 84px;
    }

    .search-wrapper {

      .search-input-wrapper {
        max-width: 768px;
        border-style: solid;
        border-width: 2px;
        border-image-source: linear-gradient(113deg, #af7a3b, #e8b86a 53%, #af7a3b);
        border-image-slice: 1;
        border-top: none;
        border-left: none;
        border-right: none;

        @media (max-width: 575.98px) {
           border-style: solid;
        }
      }

      .search-result {
        color: #000;

        td {
          a {
            height: 80px;
            display: block;
            position: relative;

            span {
              position: absolute;
              top: 50%;
              left: 0;
              right: 0;
              transform: translateY(-50%);
            }
          }
        }
      }

      svg {
        display: inline-block;
        width: 25px;
        height: 25px;

        fill: #fff;

        @media (max-width: 575.98px) {
          margin-left: 8px;
        }

      }

      input {
        display: inline-block;
        border: none;
        color: #fff;
        width: calc(100% - 37px);

        &::placeholder {
          color: #fff;
        }
      }
    }

    .main-menu {
      margin-top: 40px;

      @media (max-width: 575.98px) {
        text-align: center;
        max-height: 70vh;
        overflow-y: scroll;
      }

      .sub-title {
        margin-bottom: 16px;

        text-transform: uppercase;

        &.offset-x {
          @media (max-width: 575.98px) {
            transform: translateX(1rem);
          }

        }

        .text-underline {
          text-decoration: underline;
        }

        svg {
          fill: #fff;
          margin-left: 0.2rem;
          transform: translateY(-1px);
          height: 1.2rem;
          width: 1.2rem;

          &.open-sm {
             transform: translateY(-1px) rotate(180deg);
          }

        }
      }

      .list-unstyled {

        @media (max-width: 575.98px) {
          height: 0;

          overflow: hidden;

          &.open-sm {
            height: auto;
          }
        }

        li {
          margin-bottom: 16px;
          a {
            color: #fff;

          }
        }
      }
    }
  }
}
</style>
