<template>
  <div>
    <TheHeader />
    <div :class="['ie-banner', 'text-center', {'d-none': !isIE()}]">
      <p class="small">
        Psst! För att njuta av allt vår sida har att erbjuda så rekommenderar vi att du byter webbläsare. Här får du smidig vägledning: <a href="https://browsehappy.com/">https://browsehappy.com/</a>
      </p>
    </div>
    <div :class="['translate-banner', 'text-center', {'d-none': !isGoogleTranslated()}]">
      <p v-if="translateNote" class="small">
        {{ translateNote }}
      </p>
    </div>

    <div v-if="warningNote && warningNote.display_notice" :class="['warning-banner', 'text-center', warningNote.background]">
      <div v-html="warningNote.notice_text" class="small" />
    </div>

    <nuxt class="page-wrapper" role="main" />
    <TheFooter />
  </div>
</template>
<script>
import TheHeader from '~/components/TheHeader.vue'
import TheFooter from '~/components/TheFooter.vue'

export default {
  components: {
    TheHeader,
    TheFooter
  },
  computed: {
    warningNote() {
      return this.$store.getters.getWarning
    },

    translateNote() {
      return this.$store.getters.getOptions.transalte_note
    }
  },
  watch: {
    $route(to, from) {
      let postType = 'any'

      let path = to.path

      path = (path.endsWith('/')) ? path.slice(0, -1) : path

      const pathArr = path.split('/')
      path = pathArr[pathArr.length - 1]

      if (path === '' || path === 'en') {
        path = 'startsida'
      }

      // router logic
      const route = to

      if (route.name) {
        if (route.name.includes('ledigt')) {
          postType = 'apartment'
        } else if (route.name.includes('fastighet') && route.params.post) {
          postType = 'real-estate'
        } else if (route.name.includes('hyresfastigheter') && route.params.type) {
          path = 'hyresfastigheter'
          postType = 'page'
        } else if (route.name.includes('jobb') && route.params.job) {
          postType = 'job'
        } else if (route.name.includes('inspiration')) {
          postType = 'page'

          if (route.params.post) {
            postType = 'article'
          }

          if (route.params.category && !route.params.post) {
            path = 'inspiration'
            postType = 'page'
          }
        } else {
          postType = 'page'
        }
      }

      let meta = this.$store.getters.getPage[postType + '/' + path]
      if (meta) {
        meta = meta.yoast_meta
      }

      const metaCision = this.$store.getters['cision/getCisionSingle'][path]

      let title = ''

      if (meta) {
        title = meta.yoast_wpseo_title
      } else if (metaCision) {
        title = metaCision.Release.Title + ' - K-fastigheter'
      } else {
        title = 'K-fastigheter'
      }

      if (document.getElementsByTagName('title') && document.getElementsByTagName('title')[0]) {
        document.getElementsByTagName('title')[0].innerHTML = title
      }
    }
  },
  mounted() {
    if (navigator.userAgent.match(/Trident\/7\./)) {
      // dthis.isIE = true
      document.body.classList.add('IE-true')
    } else {
      document.body.classList.add('IE-false')
    }
  }
}
</script>
<style lang="scss">
* {box-shadow: 0 0 0 1px transparent;}
.IE-true {
  overflow-x: hidden;
}

.ie-banner, .warning-banner, .translate-banner {
  color: #fff;
  padding: 8px 0;
  background-color: #191924;

  a {
    text-decoration: underline;

    &:hover {
      color: #41b6e6;
    }
  }

  p {
    margin: 10px  0;
  }
}

.warning-banner {
  color: #fff;
  padding: 8px 0;

  p {
    margin: 10px 0;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: #41b6e6;
    }
  }
}

$black: #1d1d1d;
$slate-grey: #5b5c61;
$fudge: #d8a662;
$grey: #e4e4e4;
$deep-mahogany-birth-seed: #552123;
$deep-must-go-further: #191924;
$drop-shadow: rgba(0, 0, 0, 0.1);

html {
  font-size: 0.9375vw;

  @media (max-width: 1490px) {
      font-size: 14px;
  }
  @media (min-width: 1920px) {
      font-size: 18px;
  }
}

body {
  margin-top: 104px;

  @media (max-width: 575.98px) {
    margin-top: 84px;
  }
}

body, p, .p { // Desktop-3_Paragraph-Paragraph
  font-family: Georgia;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.0112rem;

  // Italic and bold exists
}

hr {
  border-top-style: solid;
  border-top-width: 2px;
  border-image-source: linear-gradient(113deg, #af7a3b, #e8b86a 53%, #af7a3b);
  border-image-slice: 1;
}

a {
  &.nuxt-link-exact-active {
    text-decoration: underline;
  }
}

//Btns
.btn { // Desktop-_Button-Button-1, Desktop-_Button-Button-1-Hover
  font-family: Georgia;
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.0112rem;
  text-align: center;
  border: none;
  border-radius: 0;

  &.font-small {
    font-family: Georgia;
    font-size: 0.78rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.0112rem;
    text-align: center;
  }

  &.btn-primary {

    height: 100px;
    max-width: 100%;
    max-height: 100%;
    width: 350px;
    background-image: linear-gradient(106deg, #af7a3b, #e8b86a 53%, #af7a3b);
    background-size: 200%;
    background-position: left center;
    transition: 0.2s;

    @media (max-width: 991.98px) {
      width: 100%;
    }

    @media (max-width: 575.98px) {
      height: 80px;
    }

    &:hover {
      background-position-x: right;
    }
  }

  &.btn-dark {
    height: 60px;
    width: 200px;
    position: relative;

    &:after {
      content: ' ';
      position: absolute;
      top: 3px;
      left: 3px;
      right: 3px;
      bottom: 3px;
      border-style: solid;
      border-width: 2px;
      border-image-source: linear-gradient(113deg, #af7a3b, #e8b86a 53%, #af7a3b);
      border-image-slice: 1;
      pointer-events: none;
    }

    select {
      height: inherit;
      width: inherit;
      margin: -6px -12px;
      border: none;
      border-radius: 0;
      //background-color: transparent;
      z-index: 10;
      //color: #fff;
      text-align: center;
      //background: none;
    }
  }

  &.btn-light {
    //height: 60px;
    box-shadow: 0 10px 50px 0 rgba(0,0,0,0.1);
  }

  &.btn-danger {
    height: 80px;
    width: 300px;
  }
}

//inputs

input, .input, select, .form-control { // Desktop-_Input-Input-1
  font-family: Georgia;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.0112rem;
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(113deg, #af7a3b, #e8b86a 53%, #af7a3b);
  border-image-slice: 1;
  padding: 18px 20px;
  background-color: transparent;

  &::placeholder {
    font-size: 1rem;
  }

  &.font-small { // Desktop-_Input-Input-2
    font-family: Georgia;
    font-size: 0.778rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.0112rem;
  }
}

.checkbox-wrapper {
  .custom-checkbox {
    padding-left: 2.5rem;
  }

  .custom-control-label::after {
    width: 30px;
    height: 30px;
    left: -2.5rem;
    top: 50%;
    transform:translateY(-50%);
  }

  .custom-control-label::before {
    left: -2.5rem;
    top: 50%;
    transform:translateY(-50%);
    border-radius: 0;

    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(113deg, #af7a3b, #e8b86a 53%, #af7a3b);
    border-image-slice: 1;
    background-color: transparent !important;
    width: 30px;
    height: 30px;
  }
}

.input-wrapper  {
  font-family: Georgia;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.0112rem;
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(113deg, #af7a3b, #e8b86a 53%, #af7a3b);
  border-image-slice: 1;
  background-color: transparent;
  position: relative;
  height: 60px;

  select {
    color: #000;

    option {
      color: #000;
    }
  }

  input, .input, select, textarea {
    border: none;
    padding: 0;
    height: 35px;
    color: #9d9d9d!important;
    background-color: transparent!important;
    border: none !important;
    outline: 0;
    box-shadow: none !important;

    &::placeholder {
      //color: transparent;
      transition: 0.4s;
    }
  }

  label {
    margin: 0;
    display: block;
    transition: 0.4s;
    height: 12px;
  }

  .input-inner {
    position: absolute;
    top: 38%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    padding: 3px 10px;
    transition: 0.4s;
    height: 12px;

    input,select {
      height: 0;
      transition: 0.4s;
    }

    label {
      font-family: Georgia;
      font-size: 1rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.0112rem;
    }

    @media (max-width: 575.98px) {

          top: 20%;
          input,select {
            height: 35px;
            color: #fff !important;

            &::placeholder {
              color: #9d9d9d!important;
            }
          }

          label {
            font-size: 0.778rem;
            line-height: 1.57;
            letter-spacing: 0.0112rem;
          }
        }

  }

  &.multi-select {
    transition: 0.4s;
    position: relative;
    select {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      background-color: #fff !important;
      color: #000 !important;
      height: 100px;
    }

    .input-result {
      padding: 5px 0;
      opacity: 0;
      height: 0;
      transition: 0.4s;

    }

    &.disabled {
      position: relative;
      &:after {
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        content: ' ';
        background-color: #191924;
        opacity: 0.7;
        z-index: 1;

      }
    }

  }

  &:hover, &:focus-within, &.valid, &.invalid {

    .input-inner {
      top: 20%;
      input,select {
        height: 35px;
        color: #fff !important;

        &::placeholder {
          color: #9d9d9d!important;
        }
      }

      label {
        font-size: 0.778rem;
        line-height: 1.57;
        letter-spacing: 0.0112rem;
      }
    }

    &.multi-select {

      select {
        height: 100px;
        color: #000 !important;
      }

      .input-result {
        opacity: 1;
        height: 35px;
      }

      &.disabled {
        select {
          height: 0;
        }

        .input-select {
          opacity: 0;
          height: 0;
        }
      }
    }

  }

  &:hover, &:focus-within {
    &.multi-select {

      select {
        opacity: 1;

        pointer-events: unset;
      }

      &.disabled {
        select {
          opacity: 0;
        }
      }
    }
  }

}

.textarea-wrapper {
  height: 200px;

  textarea {
    height: 170px;
    color: #fff !important;
  }

  .input-inner {
    top: 0 !important;

    height: 100%;
    transform: translateY(0);
  }
}

//Table
table:not(.b-table-stacked) {
  width: 100%;

  th {

  }

  td {
    width: auto !important;
    padding: 0.75rem 1.25rem;
  }

  tr {
    height: 80px;

    &:nth-child(odd) {
      background-color: #f1f1f1;
    }
    &:nth-child(even) {
      background-color: #fff;
    }
  }

  thead {

  }
  tbody{

  }
}

//Tabs
.nav-tabs {
  border: none;

  .nav-link {
    padding: 18px 50px;
    border: none;
    border-radius: 0;

    &.active {
      text-decoration: underline;
      background-color: #f1f1f1;
    }
  }
}

//Headers

.h1 { // Desktop-0_Heading-Heading-1
  font-family: Georgia;
  font-size: 5rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.111rem;
  margin: 0;

  @media (max-width: 1439.98px) {
    font-size: 4.7rem !important;
  }

  @media (max-width: 991.98px) {
    font-size: 3.3rem !important;
  }

  @media (max-width: 767.98px) {
    font-size: 3.1rem !important;
  }

  @media (max-width: 575.98px) {
    font-size: 1.8rem !important;
  }
}

.h2 { // Desktop-0_Heading-Heading-2
  font-family: Georgia;
  font-size: 3.335rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.111rem;
  margin: 0;

  /*@media (max-width: 575.98px) {
    font-size: 1.7rem !important;
    letter-spacing: 0.06rem;
  }*/
}

.h3 { // Desktop-0_Heading-Heading-3
  font-family: Arial;
  font-size: 1.777rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.278rem;
  text-transform: uppercase;

  @media (max-width: 991.98px) {
    font-size: 1.577rem !important;
  }
}

.h4 { // Desktop-0_Heading-Heading-4
  font-family: Arial;
  font-size: 1.44rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.027rem;
}

.h5, .h5>p { // Desktop-1_Title-Title-1
  font-family: Georgia;
  font-size: 1.44rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.0112rem;

  /*@media (max-width: 991.98px) {
    font-size: 1rem !important;
    //letter-spacing: 0.14px;
    //line-height: 1.26;
  }*/
}

.h6, .readmore { // Desktop-_Button-Button-1-Hover
  font-family: Georgia;
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.0112rem;
  margin: 0;

  /*@media (max-width: 575.98px) {
    font-size: 0.778rem !important;
  }*/
}

.readmore {
  text-decoration: none;
  color: #9d9d9d;

  svg {
    width: 20px;
    height: 20px;
    fill: #9d9d9d;
  }
}

.sub-title { // Desktop-2_Sub-title-Sub-title-2
  font-family: Arial;
  font-size: 0.778rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.216rem;
}

.description, label, .checkbox-wrapper .custom-control-label  { // Desktop-4_Description-Description
  font-family: Georgia;
  font-size: 0.778rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.0112rem;
}

/* Animations */

/**
 * ----------------------------------------
 * animation scale-in-ver-bottom
 * ----------------------------------------
 */

.scale-in-ver-bottom-enter-active, .scale-in-ver-bottom-leave-active {
  transform: scaleY(1);

  transition: 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.scale-in-ver-bottom-enter, .scale-in-ver-bottom-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: scaleY(0);

}

.slide-up-enter-active, .slide-up-leave-active {
  transform: translateY(0);
  opacity: 1;

  transition: 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.slide-up-enter, .slide-up-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateY(-300px);
  opacity: 0;

}

.slide-left-enter-active, .slide-left-leave-active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(0);
  opacity: 1;

  transition: 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.slide-left-enter, .slide-left-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Fixes */

.kn-content {
  select {
    padding: 0;
  }
}
</style>
