<template>
  <section v-if="content" class="post-wrapper">
    <transition name="fade">
      <div v-if="content" class="load-wrapper">
        <div v-if="postType === 'page'" :style="{'background-image': 'url('+ content.featured_image[getImageSize('max')] +')' }" class="image-wrapper" />

        <div class="container main">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-11">
              <div v-if="postType === 'article'" class="row justify-content-center">
                <div class="col-12 col-sm-10">
                  <BaseVimeo v-if="content.custom_fields.vimeo && content.custom_fields.vimeo !== ''" :id="content.custom_fields.vimeo" />

                  <div v-if="!content.custom_fields.vimeo || content.custom_fields.vimeo === ''" :style="{'background-image': 'url('+ content.featured_image[getImageSize('max')] +')' }" class="image-wrapper-new" />
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-11 col-lg-6">
                  <div class="content-wrapper special-margin">
                    <BaseBreadcrumbs />
                    <h1 class="h3">
                      {{ content.post_title }}
                    </h1>
                    <div v-if="content.custom_fields.author && content.custom_fields.author.length > 0" class="author-wrapper mb-1">
                      <img :src="content.custom_fields.author[0].featured_image[getImageSize('mobile')]">
                      <div class="author-info ">
                        <div class="name sub-title">
                          {{ content.custom_fields.author[0].post_title }}
                        </div>
                        <div class="description">
                          {{ content.custom_fields.author[0].custom_fields.title }}
                        </div>
                      </div>
                    </div>
                    <div v-html="content.post_content" class="content" />
                    <!--<div class="social-wrapper">
              <div class="social-item">
                <a :href="location.href">
                  <svg-icon name="facebook" />
                </a>
              </div>
              <div class="social-item">
                <a :href="location.href">
                  <svg-icon name="link" />
                </a>
              </div>

              <svg-icon name="facebook" />
            </div>-->
                    <hr>
                  </div>
                </div>
                <div v-if="postType === 'page'" class="col-11 col-lg-5 offset-lg-1">
                  <div v-for="(links, i) in content.custom_fields.sidebar_links" :key="i" class="links-wrapper">
                    <BaseCollapse v-if="links.grouped" :header="links.button_text" :list="links.links" />
                    <div v-else class="btn-wrapper">
                      <nuxt-link :to="links.link.url">
                        <b-button block class="single-btn text-left" variant="light">
                          {{ links.link.title }}
                          <svg-icon name="angle-right" />
                        </b-button>
                      </nuxt-link>
                      <div v-if="links.description && links.description !== ''" v-html="links.description" class="btn-description description" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="postType === 'article' && content && relatedPost.length > 0" class="in-category">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-11">
                    <div class="h1 text-center">
                      {{ $t('page.inspiration.category.post.other') }}
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-11 col-lg-12">
                    <div class="row special-margin">
                      <div v-for="post in relatedPost" :key="post.ID" class="col-12 col-sm-6 col-lg-4 col-xl-3">
                        <BasePostCard :post="post" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <BasePlaceholder v-else />
    </transition>
  </section>
</template>

<script>
import BasePostCard from '~/components/BasePostCard.vue'
import BaseCollapse from '~/components/BaseCollapse.vue'
import BaseBreadcrumbs from '~/components/BaseBreadcrumbs.vue'
import BaseVimeo from '~/components/BaseVimeo.vue'

export default {
  components: {
    BasePostCard,
    BaseCollapse,
    BaseBreadcrumbs,
    BaseVimeo
  },
  computed: {
    backLink() {
      if (this.postType === 'article') {
        return this.$t('page.inspiration.category.post.backLink.article')
      } else if (this.postType === 'job') {
        return this.$t('page.inspiration.category.post.backLink.job')
      } else {
        return this.$t('page.inspiration.category.post.backLink.about')
      }
    },
    postType() {
      if (this.$route.params.post) {
        return 'article'
      } else if (this.$route.params.job) {
        return 'job'
      } else {
        return 'page'
      }
    },

    content() {
      const postType = this.postType
      let path = this.$route.params.post || this.$route.params.page || this.$route.params.job

      if (!this.$route.params.page) {
        if (this.$route.name.includes('om-oss-att-bo-hos-oss___sv')) {
          path = 'att-bo-hos-oss'
        }
        if (this.$route.name.includes('om-oss-att-bo-hos-oss___en')) {
          path = 'being-our-tenant'
        }

        if (this.$route.name.includes('om-oss-miljo-kvalitet___sv')) {
          path = 'miljo-kvalitet'
        }
        if (this.$route.name.includes('om-oss-miljo-kvalitet___en')) {
          path = 'environment-quality'
        }
      }

      if (!this.$store.getters.getPage[postType + '/' + path]) {
        this.$store.dispatch({ type: 'getPage', path, postType: postType })
      }

      return (this.$store.getters.getPage[postType + '/' + path] !== 'pending') ? this.$store.getters.getPage[postType + '/' + path] : false
    },
    relatedPost() {
      const posts = this.posts
      const nuxt = this
      const res = []

      posts.forEach(function (post) {
        if (nuxt.content.ID !== post.ID && nuxt.content.post_taxs.category[0].slug === post.post_taxs.category[0].slug) {
          res.push(post)
        }
      })

      return res
    },

    posts() {
      if (!this.$store.getters.getCpt.article) {
        this.$store.dispatch({ type: 'getCpt', postType: 'article' })
      }

      const res = []
      const nuxt = this

      if (this.$store.getters.getCpt.article && this.$store.getters.getCpt.article !== 'pending') {
        this.$store.getters.getCpt.article.forEach(function (job) {
          res.push(nuxt.$store.getters.getPagePreview['article/' + job])
        })
      }

      return res
    }
  },
  methods: {
    scrollTop() {
      window.scrollTo(0, 0)
    }
  }
}
</script>

<style lang="scss">
.post-wrapper {

  .image-wrapper {

    background-position: center;
    background-size: cover;
    position: relative;
    height: 50vh;

    .go-back {
      background-color: #ffffff;
      position: absolute;
      bottom: 0;
      left: 0;

      padding: 20px;
      cursor: pointer;

      &:hover {
        background-color: #f1f1f1;
      }

      a {
        text-decoration: none;
        color: #9d9d9d;
      }
    }
  }

  .image-wrapper-new {

    margin: 3rem 0;
    padding-top: 56%;

    @media (max-width: 767.98px) {
      margin: 1rem 0;
    }

    background-position: center;
    background-size: cover;
    position: relative;

    .go-back {
      background-color: #ffffff;
      position: absolute;
      bottom: 0;
      left: 0;

      padding: 20px;
      cursor: pointer;

      &:hover {
        background-color: #f1f1f1;
      }

      a {
        text-decoration: none;
        color: #9d9d9d;
      }
    }
  }

  .main {
    margin-top: 105px;

    .links-wrapper {
      margin-bottom: 8px;

      .single-btn {
        margin: 10px 0;
        padding: 18px 20px;

        svg {
          float: right;
          height: 25px;
          width: 25px;
        }

      }

      .btn-description {
        padding: 4px 18px;
      }

      .content-wrapper {

        padding: 18px 20px;

        .content {
          padding-bottom: 0;
        }

        .content-footer {
          display: none;
        }
      }

    }

    .content-wrapper {

      &.special-margin {
        //margin-top: -45px;
      }

      .sub-title {
        margin-bottom: 15px;
        text-transform: uppercase;
      }

      .h3 {
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      .content {
        max-width: 800px;
      }

      img {
        width: 100%;
        height: auto;
      }

      hr {
        max-width: 800px;
        margin-top: 50px;
        margin-left: 0;
      }

      @media (max-width: 575.98px) {
        margin-bottom: 50px;
      }

      .author-wrapper {
        margin-top: 48px;
        height: 80px;
        img {
          margin-right: 15px;
          float: left;
          width: 64px;
          height: 64px;
          border-radius: 50%;
        }

        .author-info {
          float: left;
          margin-top: 12px;

          .name {
            margin: 0;
          }

          .description {
            font-style: italic;
          }

        }
      }
    }
  }

  .in-category {
    margin-top: 70px;
    padding-bottom: 155px;
    overflow: hidden;

    .h1 {
      margin-bottom: 48px;
    }

    .special-margin {
      margin: 0 -24px;

      .post-card-wrapper {
        margin: 0 24px;
      }

      @media (max-width: 1439.98px) {
        margin: 0 -7px;

        .post-card-wrapper {
          margin: 0 7px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
</style>
