<template>
  <section class="inspiration-category-wrapper">
    <transition name="fade">
      <div v-if="articels" class="load-wrapper">
        <div class="container-fluid">
          <BaseArchiveFilter @search="search" />
        </div>

        <div class="post-archive-list">
          <div class="container">
            <div class="row special-margins justify-content-center">
              <div v-for="(post, i) in postsFilterd" :key="i" class="col-11 col-md-6 col-lg-4 col-xl-3">
                <BasePostCard :post="post" />
              </div>
            </div>
          </div>
        </div>

        <BasePostList
          v-if="false"
          :intro="{title: about.title, subTitle: about.sub_title, content: about.content}"
          :posts="about.posts_v2"
        />
      </div>
      <BasePlaceholder v-else />
    </transition>
  </section>
</template>

<script>
// import BasePostList from '~/components/BasePostList.vue'
import BaseArchiveFilter from '~/components/BaseArchiveFilter.vue'
import BasePostCard from '~/components/BasePostCard.vue'
import BasePostList from '~/components/BasePostList.vue'

export default {
  components: {
    // BasePostList,
    BaseArchiveFilter,
    BasePostCard,
    BasePostList
  },
  data() {
    return {
      searchVal: ''
    }
  },
  computed: {
    about() {
      return (this.$store.getters.getAbout !== 'pending') ? this.$store.getters.getAbout : false
    },
    category() {
      return this.$route.params.category
    },
    postCategories() {
      const articels = this.articels

      const res = []
      res.push({ name: this.$t('page.inspiration.category.selectAll'), slug: 'all' })
      const picked = []

      articels.forEach((article) => {
        if (article) {
          if (!picked.includes(article.post_taxs.category[0].slug)) {
            res.push({ name: article.post_taxs.category[0].name, slug: article.post_taxs.category[0].slug })
            picked.push(article.post_taxs.category[0].slug)
          }
        }
      })

      return res
    },
    postsFilterd() {
      const articels = this.articels
      const category = this.category
      let resBeforeSearch = articels

      if (category !== 'all') {
        resBeforeSearch = []

        articels.forEach((article) => {
          if (article) {
            if (article.post_taxs.category[0].slug === category) {
              resBeforeSearch.push(article)
            }
          }
        })
      }

      let res = []

      if (this.searchVal !== '') {
        resBeforeSearch.forEach((article) => {
          if (article.post_title.toLowerCase().includes(this.searchVal.toLowerCase()) || article.post_excerpt.toLowerCase().includes(this.searchVal.toLowerCase())) {
            res.push(article)
          }
        })
      } else {
        res = resBeforeSearch
      }

      return res
    },
    /* postsSorted() {
      const articels = this.postsFilterd
      const order = { name: '', value: 'date' }
      // let res = []
      console.log(order)

      return articels
    }, */
    articels() {
      if (!this.$store.getters.getCpt.article) {
        this.$store.dispatch({ type: 'getCpt', postType: 'article' })
      }

      const res = []
      if (this.$store.getters.getCpt.article) {
        this.$store.getters.getCpt.article.forEach((article) => {
          res.push(this.$store.getters.getPagePreview['article/' + article])
        })
      }

      return res
    }
  },
  methods: {
    search(value) {
      this.searchVal = value
    }
  }
}
</script>

<style lang="scss">
.inspiration-category-wrapper {

  .post-archive-list {
    overflow: hidden;
    margin-top: 90px;

    .special-margins {
      margin: 0 -24px;

      &>* {
        margin-bottom: 48px;
      }
    }

    .post-card-wrapper {
      margin: 0 24px;
    }
  }
}
</style>
