<template>
  <section class="index-wrapper">
    <BaseHero
      :title="content.custom_fields.hero.title"
      :content="content.custom_fields.hero.content"
      :image="content.featured_image"
      :video="content.custom_fields.hero.vimeo_id"
    />

    <div class="container main">
      <div class="row gutter justify-content-center">
        <div class="col-11 col-md-6 mb-5 mb-md-0">
          <div class="section">
            <BasePressReleases />
          </div>
        </div>
        <div class="col-11 col-md-6 mb-5 mb-md-0">
          <div class="section">
            <BaseFinancalReports />
          </div>
        </div>
      </div>

      <div class="row gutter split justify-content-center">
        <div class="col-11 col-md-6 mb-5 mb-md-0">
          <div class="section">
            <BaseCta
              v-if="content.custom_fields.cta"
              :title="content.custom_fields.cta.post_title"
              :content="content.custom_fields.cta.post_excerpt"
              :button="{
                url: $t('component.base.cta.url'),
                title: $t('component.base.cta.readmore')
              }"
            />
          </div>
        </div>
        <div class="col-11 col-md-6">
          <div class="section">
            <BaseFinancalCalendar timeframe="future" />
          </div>
        </div>
      </div>
      <div class="main">
        <BaseCtaPage
          v-for="(block, index) in content.custom_fields.cta_block"
          :key="index"
          :title="block.title"
          :content="block.content"
          :image="block.image"
          :video="block.vimeo_id"
          :buttons="block.buttons"
          :imagePos="(index % 2 !== 0)? 'left' : 'right'"
        />
      </div>
    </div>
  </section>
</template>

<script>

export default {
  computed: {
    content() {
      const path = 'startsida'
      return this.$store.getters.getPage['page/' + path] || false
    }
  }
}
</script>

<style lang="scss">
.index-wrapper {

  .h3 a {
    color: #000;
    text-decoration: underline;

    &:hover {
      color: #af7a3b;
    }
  }

  .main {
    margin-top:10vmin ;
    overflow: hidden;
  }

  .split {
    margin-top: 5vmin !important;
  }

  .row.gutter {
    margin: 0 -2vmin;

    > * {
      padding: 0 2vmin;
      //margin-bottom: 6vmin;
    }
  }
}
</style>
