<template>
  <section class="interkontroll-wrapper">
    <Ir :hero-type="'small'" :sidebar="false" content-type="wpContent" />
  </section>
</template>

<script>
import Ir from '~/components/Ir.vue'

export default {
  components: {
    Ir
  }
}
</script>

<style>
.interkontroll-wrapper {

}
</style>
