<template>
  <section class="insperation-wrapper">
    <transition name="fade">
      <div v-if="articels && content" class="load-wrapper">
        <div class="container-fluid">
          <BaseArchiveFilter />
        </div>

        <div class="container">
          <div class="latest-posts">
            <h1 class="h1 text-center">
              {{ $t('page.inspiration.latest') }}
            </h1>
            <div class="row special-margin justify-content-center">
              <div v-for="(post, i) in latestsPosts" :key="i" class="col-11 col-sm-6 col-lg-3 mb-3 mb-lg-0">
                <BasePostTall v-if="post" :url="formatUrl(post)" :bg-image="post.featured_image[getImageSize('tablet')]" :title="post.post_title" :sub-title="post.post_taxs.category[0].name" />
              </div>
            </div>
            <div class="readmore-wrapper text-center">
              <nuxt-link class="readmore" to="/inspiration/all">
                {{ $t('page.inspiration.readmore') }} <svg-icon name="arrow-up" />
              </nuxt-link>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-12 col-sm-11 col-xxl-12">
              <BasePostSlider v-for="(highlightedCategory, i) in highlightedCategories" :key="i" :title="highlightedCategory.category.name" :description="highlightedCategory.category.description" :posts="highlightedCategory.posts" />
            </div>
          </div>
        </div>
        <BasePostList
          v-if="false"
          :intro="{title: about.title, subTitle: about.sub_title, content: about.content}"
          :posts="about.posts_v2"
        />
      </div>
      <BasePlaceholder v-else />
    </transition>
  </section>
</template>

<script>
import BasePostSlider from '~/components/BasePostSlider.vue'
import BasePostList from '~/components/BasePostList.vue'
import BasePostTall from '~/components/BasePostTall.vue'
import BaseArchiveFilter from '~/components/BaseArchiveFilter.vue'

export default {
  components: {
    BasePostSlider,
    BasePostList,
    BasePostTall,
    BaseArchiveFilter
  },
  computed: {
    latestsPosts() {
      let lates = this.articels
      lates = lates.reverse()

      return lates.slice(0, 4)
    },
    highlightedCategories() {
      const res = []
      if (this.content) {
        this.content.custom_fields.highlighted_categories_v2.forEach((category) => {
          const posts = []

          this.articels.forEach((article) => {
            if (article) {
              if (article.post_taxs.category && category.term_id === article.post_taxs.category[0].term_id) {
                posts.push(article)
              }
            }
          })

          if (posts.length > 0) {
            res.push({ category, posts })
          }
        })
      }

      return res
    },

    content() {
      const path = 'inspiration'

      return (this.$store.getters.getPage['page/' + path] !== 'pending') ? this.$store.getters.getPage['page/' + path] : false
    },

    about() {
      return (this.$store.getters.getAbout !== 'pending') ? this.$store.getters.getAbout : false
    },

    articels() {
      if (!this.$store.getters.getCpt.article) {
        this.$store.dispatch({ type: 'getCpt', postType: 'article' })
      }

      const res = []
      if (this.$store.getters.getCpt.article) {
        this.$store.getters.getCpt.article.forEach((article) => {
          if (article) {
            res.push(this.$store.getters.getPagePreview['article/' + article])
          }
        })
      }

      return res
    }
  },
  created() {
    const path = 'inspiration'

    if (!this.$store.getters.getPage['page/' + path]) {
      this.$store.dispatch({ type: 'getPage', path, postType: 'page' })
    }
  }
}
</script>

<style lang="scss">
.insperation-wrapper {
  .latest-posts {
    margin-top: 70px;
    margin-bottom: 60px;
    overflow: hidden;

    @media (max-width: 575.98px) {
      margin-top: 150px;
    }

    .h1 {
      margin-bottom: -20px;

      @media (max-width: 1439.98px) {
        margin-bottom: -15px;
      }

      @media (max-width: 991.98px) {
        margin-bottom: -10px;
      }

      @media (max-width: 767.98px) {
        margin-bottom: -10px;
      }

      @media (max-width: 575.98px) {
        margin-bottom: -5px;
      }
    }

    .post-tall-wrapper {
      margin-bottom: 15px;
    }

    .readmore {
      padding: 24px 32px;
      display: inline-block;

      svg {
        transform: rotate(90deg);
      }
    }

    .special-margin {
      margin: 0 -7px;

      >*>* {
        margin: 0 7px;
      }
    }
  }
}
</style>
