<template>
  <section class="press-index-wrapper">
    <Ir v-if="isArchive" :hero-type="'small'" :content="cisionSummary" :sidebar="true" content-type="archive" />
    <Ir v-if="!isArchive" :content="cisionSingle" :sidebar="true" content-type="irContent" />
  </section>
</template>

<script>
import Ir from '~/components/Ir.vue'

export default {
  components: {
    Ir
  },
  data() {
    return {
      searchQuery: ''
    }
  },
  computed: {
    isArchive() {
      return this.getPageId.length < 5
    },
    getPageId() {
      let page = this.$route.params.page

      if (!page) {
        page = '1'
      }

      return page
    },
    cisionSummary() {
      return this.$store.getters['cision/getCisionSummary']
    },
    cisionSingle() {
      return this.$store.getters['cision/getCisionSingle'][this.getPageId]
    }
  },
  created() {
    if (this.isArchive) {
      if (!this.$store.getters['cision/getCisionSummary']) {
        this.$store.dispatch({ type: 'cision/getCisionSummary', page: this.getPageId, detailLevel: 'medium' })
      }
    } else if (!this.$store.getters['cision/getCisionSingle'][this.getPageId]) {
      this.$store.dispatch({ type: 'cision/getCisionSingle', id: this.getPageId, detailLevel: 'medium' })
    }
  }
}
</script>

<style>
.press-index-wrapper {

}
</style>
